body,html{
	font-size: 14px;
	font-family: "microsoft yahei";
}
.fl{
	float: left;
}
.fr{
	float: right;
}
input[type=checkbox], input[type=radio]{
	opacity: 1 !important;
	position: inherit !important;
	left: inherit !important;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
.navbar{
	height: 50px;
	min-height: 50px;
	line-height: 50px;
}
.navbar .navbar-inner{
	min-height: 50px;
}
.navbar .navbar-inner .navbar-container{
	padding-left: 5px;
}
.navbar .navbar-brand{
	height: auto;
	color: #fff;
	padding: inherit;
	line-height: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar .navbar-brand .logo-lg{
	width: 219px;
	font-size: 20px;
	text-align: center;
	display: block;
}
.navbar .navbar-brand .logo-mini{
	display: none;
	width: 42px;
	font-size: 18px;
	text-align: center;
}
.navbar .sidebar-collapse{
	left: 219px;
}
.navbar .sidebar-collapse.active{
	left: 47px;
}
.page-sidebar .sidebar-header-wrapper{
	z-index: 2;
    padding-left: 12px;
    line-height: 40px;
    color: #4b646f;
    background: #222D32;
}
.page-sidebar{
	background: #222d32;
}
.page-sidebar:before{
	background: #222d32;
}
.page-sidebar .sidebar-menu>li>a{
	border-top: 1px solid #222D32;
	color: #b8c7ce;
}
.page-sidebar .sidebar-menu>li:last-child>a{
	border-bottom: 1px solid #222D32;
}
.page-sidebar .sidebar-menu>li>a:hover{
	background: #1e282c;
	color: #FFFFFF;
	border-top: 1px solid #222D32;
}
.page-sidebar .sidebar-menu>li.active>a,.page-sidebar .sidebar-menu>li>a:focus{
	background: #1e282c;
	color: #FFFFFF;
	border-top: 1px solid #222D32;
}

.row label .form-control{
	display: inline-block !important;
	width: inherit !important;	
}
.page-body{
	padding: 10px 20px 24px;
	overflow: hidden;
}
#iframe{
	min-width: 450px;
}
#iframe html,#iframe body{
	background: #ecf0f5;	
}
.content-header{
	overflow: hidden;	
}
.header-title h1{
	margin: 20px 0 0 20px;
	font-size: 24px;
	font-family: inherit;
	font-weight: 400 !important;
}
.header-title>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.widget-buttons>a{
	padding: 0 5px;	
}
.widget-body label{
	margin-bottom: 12px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align: middle;
	border: none;
}
.btn{
	padding: 5px 12px;
}

.table tr td img{
	width: 50px;	
}
.table tr td .btn{
	margin: 2px;	
	float: left;
}	
.widget-header>.widget-caption{
	font-size: 18px;	
}
.widget-body form{
	overflow: hidden;	
}
.widget-body .form-group label{
	font-weight: 700;
	margin-bottom: 7px;
}
.widget-body .select2-container.form-control{
	padding: 0 !important;
	height: auto !important;
	border: none;
}
.widget-body .form-control.date-picker{
	background: #eee;
}
.widget-body select.form-control{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
	background: #EEEEEE;
	padding-left: 8px;
}
.widget-body select.form-control option{
	background: #FBFBFB;
}
.widget-body .checkbox label{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.widget-body .checkbox input[type=checkbox]{
	opacity: 1 !important;
	position: inherit !important;
	left: inherit !important;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.box-body{
	overflow: hidden;
}
.box-body h2{
	font-weight: 500 !important;
	font-family: "microsoft yahei" !important;
}
.box-body a:hover{
	background: #3c8dbc !important;
}


.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
	color: #FFFFFF;
}
.info-box .bg-aqua{
    background-color: #00c0ef !important;
}
.info-box .bg-red {
    background-color: #dd4b39 !important;
}
.info-box .bg-green{
    background-color: #00a65a !important;
}
.info-box .bg-yellow{
    background-color: #f39c12 !important;
}
.info-box .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}


#addMemberBox{
	display: none;
}
#addMemberBox .form-control{
	width: 30%;
	min-width: 200px;
}
#addMemberBox a.btn{
	padding: 7px 12px;	
	margin-left: 10px;
}


#myModal .form-group{
	margin: 15px 0;	
}

#myModal label{
	font-weight: 700;
	margin-bottom: 7px;
}

/*分页*/
#pageCon .pagination{
	margin: 0;
}
#pageCon .pagination>li:last-child>a,#pageCon .pagination>li:last-child>span{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
}
#pageCon #num{
	width:40px;
	height: 34px;
	padding:6px;
	vertical-align:middle;
	text-align:center;
	border: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	outline: none;
}
#pageCon #go{
	border:none;
	background:#3c8dbc;
	color:#fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 31px;
    line-height: 31px;
    padding: 0px 12px;
}



.adminDetailBox{
	width: 70%;
	min-width: 491px !important;
	margin: 0 auto;
	overflow: hidden;
	font-size: 14px;
	color: #2a2a2a;
}

.adminDetailBox .imgBox{
	width: 100%;
}
.adminDetailBox .imgBox img{
	width: 100%
}
.adminDetailBox .content,.adminDetailBox .content li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.adminDetailBox .content .title{
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
}
.adminDetailBox .content .star{
	text-align: center;
}
.adminDetailBox .content .description{
	padding: 10px 0;
	text-indent: 2em;
}
.adminDetailBox .content li{
	line-height: 20px;
}
.adminDetailBox .content li.tell img,.adminDetailBox .content li.address img{
	width: 20px;
	vertical-align: middle;
	margin-right: 10px;
}
.adminDetailBox .content li.tell{
	margin-bottom: 10px;
}
.adminDetailBox .courtState{
	margin: 10px 0 30px;
}
.adminDetailBox .courtState .stateBox table{
	width: 100%;
}
.adminDetailBox .courtState  .stateBox table th,.adminDetailBox .courtState  .stateBox table td{
	padding: 10px 5px;
	text-align: center;
}
.adminDetailBox .courtState  .stateBox table tbody th,
.adminDetailBox .courtState  .stateBox table thead th:first-child {
	text-align: left;
}

.adminDetailBox .courtState  .stateBox table tbody td span{
	display: block;
	text-align: center;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 5px;
	background: bisque;
	cursor: pointer;
}

.adminDetailBox .courtState  .stateBox table tbody td span.null{
	background: lavender;
	cursor: pointer;
}