body{
    background: url(../img/bg.png) repeat-y left top;
    background-size: 100%;
    font-size: 12px;
    color: #FFFFFF;
    font-family:-apple-system,"helvetica Neue",arial,"PingFang SC","Hiragino Sans GB",HelveticaNeue-Light, 'Helvetica Neue Light',"Droid Sans","STHeiti","microsoft yahei","Microsoft JhengHei","Source Han Sans SC",SimSun,sans-serif;
}
i,em{
    font-style: normal;
}
a{
    color: #FFFFFF;
}
a:active,a:focus{
    color: #FFFFFF;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.white-color{
    color: #FFFFFF;
}
.mui-content{
    background: transparent;
}

