.imgBox {
  line-height: 0;
}
.imgBox img {
  width: 100%;
}
.content li {
  padding: 10px 27px;
  font-size: 13px;
  position: relative;
}
.content li .title {
  text-align: center;
  font-size: 15px;
}
.content li .star {
  text-align: center;
}
.content li .star img {
  width: 10px;
}
.content li .description {
  font-size: 15px;
}
.content li:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.content li:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.content li.mui-navigate-right {
  padding: 10px 27px 10px 15px;
}
.content li.mui-navigate-right img {
  width: 9px;
  vertical-align: middle;
  margin-right: 10px;
}
.content li.mui-navigate-right span.mui-pull-right{
  max-width: 80%;
}
.content .mui-navigate-right:after {
  right: 10px;
}
.courtState {
  -webkit-overflow-scrolling: touch;
}
.courtState .time {
  display: inline-block;
  margin: 10px 0 5px 10px;
  border-radius: 5px;
  padding: 0 5px;
  background: #4c98c0;
}
.courtState .tab {
  background: #2e2d2f;
  overflow: hidden;
}
.courtState .tab a {
  width: 20%;
  display: block;
  float: left;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  padding: 10px 0;
}
.courtState .tab a.active {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.stateBox {
  margin-top: 10px;
}
.stateBox .page {
  font-size: 13px;
  padding-left: 90px;
  position: relative;
  display: none;
}
.stateBox .page span {
  width: 90px;
  display: block;
  text-align: center;
  padding: 10px 0;
  white-space: nowrap;
}
.stateBox .page .left {
  width: 90px;
  position: absolute;
  left: 0px;
  top: 0;
  background: #2e2d2f;
  overflow: hidden;
}
.stateBox .page .left span:first-child {
  background: #252426;
  padding: 0;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.stateBox .page .right {
  overflow-x: auto;
}
.stateBox .page .right .rightContent {
  white-space: nowrap;
}
.stateBox .page .right .rightContent .date {
  width: 68px;
  display: inline-block;
  margin-left: -4px;
}
.stateBox .page .right .rightContent .date span:first-child {
  padding: 5px 0;
  height: 40px;
  line-height: 30px;
}
.stateBox .page .right .rightContent .date span.long {
  /*line-height: 15px;*/
}
.stateBox .page .right .rightContent .date span {
  background: #4c98c0;
}
.stateBox .page .right .rightContent .date span.full {
  background: #f09b21;
}
.stateBox .page .right .rightContent .date:first-child {
  margin: 0;
}
.stateBox .page .right .rightContent .date:nth-child(odd) span:first-child {
  background: #2e2d2f;
}
.stateBox .page .right .rightContent .date:nth-child(even) span:first-child {
  background: #2e2d2f;
}
.stateBox .page:first-child {
  display: block;
}
/*# sourceMappingURL=court-detail.css.map */
