.imgBox{
    line-height: 0;
    img{
        width: 100%;
    }
}
.content{
    li{
        padding: 10px 27px;
        font-size: 13px;
        position: relative;
        .title{
            text-align: center;
            font-size: 15px;
        }
        .star{
            text-align: center;
            img{
                width: 10px;
            }
        }
        .description{
            font-size: 15px;
        }        
    }
    li:nth-child(odd){
        background: rgba(46,45,47,0.8);
    }
    li:nth-child(even){
        background: rgba(35,34,36,0.8);
    }
    li.mui-navigate-right{
        padding: 10px 27px 10px 15px;
        img{
            width: 9px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    .mui-navigate-right:after{
        right: 10px;
    }
}

.courtState{
    -webkit-overflow-scrolling: touch;
    .time{
        display: inline-block;
         margin: 10px 0 5px 10px;
         border-radius: 5px;
         padding: 0 5px;
         background: #4c98c0;
     }
     .tab{
         background: #2e2d2f;
         overflow: hidden;
         a{
             width: 20%;
             display: block;
             float: left;
             text-align: center;
             color: rgba(255,255,255,0.4);
             font-size: 14px;
             padding: 10px 0;
         }
         a.active{
             color: #FFFFFF;
             border-bottom: 1px solid #FFFFFF;
         }
     }
}

.stateBox{
    margin-top: 10px;
    .page{
        font-size: 13px;
        padding-left: 68px;
        position: relative;
        display: none;
        span{
            width: 68px;
            display: block;
            text-align: center;
            padding: 10px 0;
            white-space: nowrap;
        }
        .left{
            width: 68px;
            position: absolute;
            left: 0px;
            top: 0;
            background: #2e2d2f;
            span:first-child{
                background: #252426;
                padding: 0;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
            }
            overflow: hidden;
        }
        .right{
            overflow-x: auto;
            .rightContent{
                white-space: nowrap;
                .date{
                    width: 68px;
                    display: inline-block;
                    margin-left: -4px;
                    span:first-child{
                        padding: 5px 0;
                        height: 40px;
                        line-height: 30px;
                    }
                    span.long{
                        line-height: 15px;
                    }
                    span{
                        background: #4c98c0;
                        
                    }
                    span.full{
                        background: #f09b21;
                    }
                }
                .date:first-child{
                    margin: 0;
                }
                .date:nth-child(odd){
                    span:first-child{
                        background: #2e2d2f;
                    }
                }
                .date:nth-child(even){
                    span:first-child{
                        background: #2e2d2f;
                    }
                }
            }
        }
    }
    .page:first-child{
        display: block;
    }
}
