.mui-content{
    background: rgba(46,45,47,0.8);
}
.detail-content{
    -webkit-overflow-scrolling:touch;
    .detail-img{
        img{
            width: 100%;
        }
    }
    .detail-info{
        padding: 10px;
        .title{
            overflow: hidden;
            h4{
                width: 70%;
                font-size: 15px;
                line-height: 18px;
                font-weight: normal;
                margin: 0;
            }
            a.mui-btn{
                background: transparent;
                border: 1px dotted #f19B22;
                color: #FFFFFF;
                font-size: 12px;
                span{
                    font-size: large;
                    vertical-align: middle;
                }
                span:before{
                    content: '\e468';
                }
                i{
                    display: none;
                }
            }
            a.mui-btn.no-follow{
                background: #F19B22;
                border: 1px solid #f19B22;
                span:before{
                    content: '\e472';
                }
                em{
                    display: none;
                }
                i{
                    display: inline-block;
                }
            }
        }
        .location-time{
            padding: 15px 0;
            p{
                font-size: 12px;
                line-height: 18px;
                color: #FFFFFF;
                margin: 0;
                img{
                    margin-right: 10px;
                    vertical-align: middle;
                    width: 10px;
                }
            }
        }
        .notice{
            padding: 15px 15px 42px 15px;
            .main,p{
                color: #FFFFFF;
                text-indent: 2em;
            }
            p{
                margin: 10px 0 0;
            }
            h4{
                font-size: 14px;
                color: #FFFFFF;
                text-indent: 2em;
                font-weight: normal;
                margin-top: 10px;
            }
        }
    }
    
    .marque{
        padding: 0 10px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        font-size: 12px;
        img{
            height: 13px;
            margin: 5px;
            vertical-align: middle;
        }
    }
    .marque-start{
        background: #F19B22;
        display: block;
    }
    .marque-over{
        background: #4c98c0;
        display: none;;
    }
    .editBtn{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        .mui-btn{
            margin: 0;
            border: 0;
            border-radius: 0;
            color: #FFFFFF;
            font-size: 16px;
            padding: 10px 0;
        }
        .partake{
            background: #4c98c0;
            display: block;
        }
        .giveup{
            background: #eb5e69;
            display: none;
        }
    }
    .editBtn.isPartake{
        .partake{
            display: none;
        }
        .giveup{
            display: block;
        }
    }
}   
.detail-content.isOver{
    .detail-info{
        .notice{
            padding: 15px 15px 10px;
        }
    }
    .marque-start{
        display: none;
    }
    .marque-over{
        display: block;;
    }
    .editBtn{
        display: none;
    }
}
