.mui-content {
  background: rgba(46, 45, 47, 0.8);
}
.detail-content {
  -webkit-overflow-scrolling: touch;
}
.detail-content .detail-img img {
  width: 100%;
}
.detail-content .detail-info {
  padding: 10px;
}
.detail-content .detail-info .title {
  overflow: hidden;
}
.detail-content .detail-info .title h4 {
  width: 70%;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}
.detail-content .detail-info .title a.mui-btn {
  background: transparent;
  border: 1px dotted #f19B22;
  color: #FFFFFF;
  font-size: 12px;
}
.detail-content .detail-info .title a.mui-btn span {
  font-size: large;
  vertical-align: middle;
}
.detail-content .detail-info .title a.mui-btn span:before {
  content: '\e468';
}
.detail-content .detail-info .title a.mui-btn i {
  display: none;
}
.detail-content .detail-info .title a.mui-btn.no-follow {
  background: #F19B22;
  border: 1px solid #f19B22;
}
.detail-content .detail-info .title a.mui-btn.no-follow span:before {
  content: '\e472';
}
.detail-content .detail-info .title a.mui-btn.no-follow em {
  display: none;
}
.detail-content .detail-info .title a.mui-btn.no-follow i {
  display: inline-block;
}
.detail-content .detail-info .location-time {
  padding: 15px 0;
}
.detail-content .detail-info .location-time p {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}
.detail-content .detail-info .location-time p img {
  margin-right: 10px;
  vertical-align: middle;
  width: 10px;
}
.detail-content .detail-info .notice {
  padding: 15px 15px 42px 15px;
}
.detail-content .detail-info .notice .main,
.detail-content .detail-info .notice p {
  color: #FFFFFF;
  text-indent: 2em;
}
.detail-content .detail-info .notice p {
  margin: 10px 0 0;
}
.detail-content .detail-info .notice h4 {
  font-size: 14px;
  color: #FFFFFF;
  text-indent: 2em;
  font-weight: normal;
  margin-top: 10px;
}
.detail-content .marque {
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  font-size: 12px;
}
.detail-content .marque img {
  height: 13px;
  margin: 5px;
  vertical-align: middle;
}
.detail-content .marque-start {
  background: #F19B22;
  display: block;
}
.detail-content .marque-over {
  background: #4c98c0;
  display: none;
}
.detail-content .editBtn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.detail-content .editBtn .mui-btn {
  margin: 0;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 0;
}
.detail-content .editBtn .partake {
  background: #4c98c0;
  display: block;
}
.detail-content .editBtn .giveup {
  background: #eb5e69;
  display: none;
}
.detail-content .editBtn.isPartake .partake {
  display: none;
}
.detail-content .editBtn.isPartake .giveup {
  display: block;
}
.detail-content.isOver .detail-info .notice {
  padding: 15px 15px 10px;
}
.detail-content.isOver .marque-start {
  display: none;
}
.detail-content.isOver .marque-over {
  display: block;
}
.detail-content.isOver .editBtn {
  display: none;
}
/*# sourceMappingURL=detail.css.map */
