body{
     background: url(../img/bg.png) repeat-y center top;
     background-size: 100% auto ;
}
.mui-content{
     background: transparent !important;
     padding-bottom: 65px;
 }
 .dynamic-content{
    overflow: hidden;
    padding: 15px 10px;
    background: rgba(45,46,47,0.8);
    margin: 10px 0;
    .head{
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: inline-block; 
            vertical-align: bottom;
            margin-right: 10px;
            border-radius: 50%;
        }
        .name-time{
            display: inline-block;
            h4,p{
                margin: 0;
            }
            h4{
                font-size: 18px;
                font-weight: normal;
            }
            p{
                font-size: 12px;
            }   
        }
    }
    
    .description{
        margin: 10px 0 5px;
        overflow: hidden;
        a{
            overflow: hidden;
        }
        a:focus,a:active{
            color: #FFFFFF;
        }
        p{
            margin: 0;
            font-size: 12px;
            color: #FFFFFF;
        }
        .matchImgBox{
            margin-left: -5px;
            margin-right: -5px;
            overflow: hidden;
            line-height: 0;
            span{
                width: 33.333%;
                float: left;
                display: block;
                padding: 5px;
                img{
                    width: 100%;
                }
            }
            
        }
    }
    .pageView{
        margin-top: 10px;
        overflow: hidden;
        a{
            width: 33.333%;
            display: block;
            float: left;
            text-align: center;
            font-size: 18px;
            img{
                width: 15px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
 }
 
.listBox{
    .item{
        padding: 10px 10px 10px 65px;
        position: relative;
        -webkit-overflow-scrolling:touch;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 10px;
            vertical-align: bottom;
            margin-right: 10px;
        }
        .con{
            display: inline-block;
            h4{
                font-size: 13px;
                font-weight: normal;
            }
            p{
                font-size: 12px;
                margin-bottom: 5px;
            }   
            .description{
                font-size: 13px;
            }
        }
    }
    .item:nth-child(odd){
        background: rgba(46,45,47,0.8);
    }
    .item:nth-child(even){
        background: rgba(35,34,36,0.8);
    }
}

.from-box{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #2e2d2f;
    border-top: 1px solid #a0a0a0;
    input{
        width: 80%;
        margin: 0;
        border-radius: 5px;
        color: #414141;
        font-size: 14px;
        border: none;
    }
    button{
        width: 20%;
        border: none;
        padding: 0;
        background: transparent;
        outline: none;
        img{
            width: 36px;
        }
    }
    button:focus{
        background: none;
    }
}
