body {
  background: url(../img/bg.png) repeat-y center top;
  background-size: 100% auto;
}
.mui-content {
  background: transparent !important;
  padding-bottom: 65px;
}
.dynamic-content {
  overflow: hidden;
  padding: 15px 10px;
  background: rgba(45, 46, 47, 0.8);
  margin: 10px 0;
}
.dynamic-content .head img {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  border-radius: 50%;
}
.dynamic-content .head .name-time {
  display: inline-block;
}
.dynamic-content .head .name-time h4,
.dynamic-content .head .name-time p {
  margin: 0;
}
.dynamic-content .head .name-time h4 {
  font-size: 18px;
  font-weight: normal;
}
.dynamic-content .head .name-time p {
  font-size: 12px;
}
.dynamic-content .description {
  margin: 10px 0 5px;
  overflow: hidden;
  word-break: break-all;
}
.dynamic-content .description a {
  overflow: hidden;
}
.dynamic-content .description a:focus,
.dynamic-content .description a:active {
  color: #FFFFFF;
}
.dynamic-content .description p {
  margin: 0;
  font-size: 12px;
  color: #FFFFFF;
}
.dynamic-content .description .matchImgBox {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  line-height: 0;
}
.dynamic-content .description .matchImgBox span {
  width: 33.333%;
  float: left;
  display: block;
  padding: 5px;
}
.dynamic-content .description .matchImgBox span img {
  width: 100%;
}
.dynamic-content .pageView {
  margin-top: 10px;
  overflow: hidden;
}
.dynamic-content .pageView a {
  width: 33.333%;
  display: block;
  float: left;
  text-align: center;
  font-size: 18px;
}
.dynamic-content .pageView a img {
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
.listBox .item {
  padding: 10px 10px 10px 65px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.listBox .item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  vertical-align: bottom;
  margin-right: 10px;
}
.listBox .item .con {
  display: inline-block;
}
.listBox .item .con h4 {
  font-size: 13px;
  font-weight: normal;
}
.listBox .item .con p {
  font-size: 12px;
  margin-bottom: 5px;
}
.listBox .item .con .description {
  font-size: 13px;
}
.listBox .item:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.listBox .item:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.from-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #2e2d2f;
  border-top: 1px solid #a0a0a0;
}
.from-box input {
  width: 80%;
  margin: 0;
  border-radius: 5px;
  color: #414141;
  font-size: 14px;
  border: none;
}
.from-box button {
  width: 20%;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}
.from-box button img {
  width: 36px;
}
.from-box button:focus {
  background: none;
}
/*# sourceMappingURL=dynamic-detail.css.map */
