html,
body,
.mui-content,
.mui-slider{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sliderSegmentedControl{
  background: #2e2d2f;
  overflow: hidden;
}
.sliderSegmentedControl a.item {
  width: 16.66%;
  float: left;
  color: rgba(255, 255, 255, 0.4);
  line-height: 45px;
  text-align: center;
}
.sliderSegmentedControl a.item.mui-active {
  color: #ffffff;
  border-bottom: 1px solid #FFFFFF;
}

.slideBox{
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.mui-slider-item{
  display: none;
}
.mui-slider-item:first-child{
  display: block;
}
.mui-slider-item .table-head,.mui-slider-item .table-content{
  width: 100%;
}
.mui-slider-item .table-head span,.mui-slider-item .table-content span{
  text-align: center;
  padding: 10px 0;
  display: block;
  float: left;
}

.mui-slider-item .table-head{
  background: #2e2d2f;
  overflow: hidden;
}
.mui-slider-item .table-head span:nth-child(odd){
  border-bottom: 1px solid #FFFFFF;
}
.mui-slider-item .table-head span:nth-child(even){
  border-bottom: 1px solid #2e2d2f;
}
.mui-slider-item .table-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.mui-slider-item .table-content .list{
  overflow: hidden;
}
.mui-slider-item .table-content .list:nth-child(odd) {
  background: rgba(35, 34, 36, 0.8);
}
.mui-slider-item .table-content .list:nth-child(even) {
  background: rgba(46, 45, 47, 0.8);
}
/*

#item1mobile .table-head span:nth-child(1),
 #item1mobile .table-content .list span:nth-child(1){
   width: 15%;
 }
#item1mobile .table-head span:nth-child(2),
#item1mobile .table-content .list span:nth-child(2){
  width: 30%;
}
#item1mobile .table-head span:nth-child(3),
#item1mobile .table-content .list span:nth-child(3){
  width: 20%;
}
#item1mobile .table-head span:nth-child(4),
#item1mobile .table-content .list span:nth-child(4){
  width: 20%;
}
#item1mobile .table-head span:nth-child(5),
#item1mobile .table-content .list span:nth-child(5){
  width: 15%;
}
*/

/*
#item2mobile .table-head span:nth-child(1),
#item2mobile .table-content .list span:nth-child(1){
  width: 15%;
}
#item2mobile .table-head span:nth-child(2),
#item2mobile .table-content .list span:nth-child(2){
  width: 30%;
}
#item2mobile .table-head span:nth-child(3),
#item2mobile .table-content .list span:nth-child(3){
  width: 40%;
}
#item2mobile .table-head span:nth-child(4),
#item2mobile .table-content .list span:nth-child(4){
  width: 15%;
}

#item3mobile .table-head span:nth-child(1),
#item3mobile .table-content .list span:nth-child(1){
  width: 15%;
}
#item3mobile .table-head span:nth-child(2),
#item3mobile .table-content .list span:nth-child(2){
  width: 30%;
}
#item3mobile .table-head span:nth-child(3),
#item3mobile .table-content .list span:nth-child(3){
  width: 40%;
}
#item3mobile .table-head span:nth-child(4),
#item3mobile .table-content .list span:nth-child(4){
  width: 15%;
}


#item4mobile .table-head span:nth-child(1),
#item4mobile .table-content .list span:nth-child(1){
  width: 15%;
}
#item4mobile .table-head span:nth-child(2),
#item4mobile .table-content .list span:nth-child(2){
  width: 30%;
}
#item4mobile .table-head span:nth-child(3),
#item4mobile .table-content .list span:nth-child(3){
  width: 40%;
}
#item4mobile .table-head span:nth-child(4),
#item4mobile .table-content .list span:nth-child(4){
  width: 15%;
}
*/


/*#item5mobile .table-head span:nth-child(1),*/
/*#item5mobile .table-content .list span:nth-child(1){*/
  /*width: 15%;*/
/*}*/
/*#item5mobile .table-head span:nth-child(2),*/
/*#item5mobile .table-content .list span:nth-child(2){*/
  /*width: 30%;*/
/*}*/
/*#item5mobile .table-head span:nth-child(3),*/
/*#item5mobile .table-content .list span:nth-child(3){*/
  /*width: 40%;*/
/*}*/
/*#item5mobile .table-head span:nth-child(4),*/
/*#item5mobile .table-content .list span:nth-child(4){*/
  /*width: 15%;*/
/*}*/
/*#item5mobile .table-head span,
#item5mobile .table-content .list span{
  width: 20%;
}*/
.mui-slider-item .table-head span,
.mui-slider-item .table-content .list span{
  width: 25%;
}


/*#sliderSegmentedControl {*/
  /*background: #2e2d2f;*/
/*}*/
/*#sliderSegmentedControl a.mui-control-item {*/
  /*color: rgba(255, 255, 255, 0.4);*/
  /*line-height: 45px;*/
/*}*/
/*#sliderSegmentedControl a.mui-control-item.mui-active {*/
  /*color: #ffffff;*/
/*}*/
/*#sliderProgressBar {*/
  /*background: #FFFFFF !important;*/
  /*font-size: 14px;*/
/*}*/
/*.mui-slider-group {*/
  /*margin-top: 10px;*/
  /*-webkit-overflow-scrolling: touch;*/
/*}*/
/*.mui-slider-group .mui-control-content {*/
  /*background: none;*/
  /*overflow-y: auto;*/
/*}*/
/*.mui-slider-group .mui-slider-item {*/
  /*border: none !important;*/
/*}*/
/*.mui-slider-group .mui-slider-item table {*/
  /*width: 100%;*/
  /*position: relative;*/
  /*top: 42px;*/
/*}*/
/*.mui-slider-group .mui-slider-item table th,*/
/*.mui-slider-group .mui-slider-item table td {*/
  /*text-align: center;*/
  /*padding: 10px 0;*/
  /*font-weight: normal;*/
/*}*/
/*.mui-slider-group .mui-slider-item table th {*/
  /*font-size: 13px;*/
/*}*/
/*.mui-slider-group .mui-slider-item table td {*/
  /*font-size: 12px;*/
/*}*/
/*.mui-slider-group .mui-slider-item table thead {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*display: table;*/
  /*width: 100%;*/
/*}*/
/*.mui-slider-group .mui-slider-item table thead tr {*/
  /*border-bottom: 1px solid #757576;*/
  /*background: #2e2d2f;*/
/*}*/
/*.mui-slider-group .mui-slider-item table thead th:nth-child(odd) {*/
  /*border-bottom: 1px solid #FFFFFF;*/
/*}*/
/*.mui-slider-group .mui-slider-item table tbody tr:nth-child(odd) {*/
  /*background: rgba(35, 34, 36, 0.8);*/
/*}*/
/*.mui-slider-group .mui-slider-item table tbody tr:nth-child(even) {*/
  /*background: rgba(46, 45, 47, 0.8);*/
/*}*/
/*#item1mobile table thead tr th:nth-child(1) {*/
  /*width: 15%;*/
/*}*/
/*#item1mobile table thead tr th:nth-child(2) {*/
  /*width: 36%;*/
/*}*/
/*#item1mobile table thead tr th:nth-child(3) {*/
  /*width: 17%;*/
/*}*/
/*#item1mobile table thead tr th:nth-child(4) {*/
  /*width: 17%;*/
/*}*/
/*#item1mobile table thead tr th:nth-child(5) {*/
  /*width: 15%;*/
/*}*/
/*#item1mobile table tbody tr th:nth-child(1) {*/
  /*width: 15%;*/
/*}*/
/*#item1mobile table tbody tr td:nth-child(2) {*/
  /*width: 36%;*/
/*}*/
/*#item1mobile table tbody tr td:nth-child(3) {*/
  /*width: 17%;*/
/*}*/
/*#item1mobile table tbody tr td:nth-child(4) {*/
  /*width: 17%;*/
/*}*/
/*#item1mobile table tbody tr td:nth-child(5) {*/
  /*width: 15%;*/
/*}*/
/*#item2mobile table thead tr th:nth-child(1) {*/
  /*width: 15%;*/
/*}*/
/*#item2mobile table thead tr th:nth-child(2) {*/
  /*width: 35%;*/
/*}*/
/*#item2mobile table thead tr th:nth-child(3) {*/
  /*width: 35%;*/
/*}*/
/*#item2mobile table thead tr th:nth-child(4) {*/
  /*width: 15%;*/
/*}*/
/*#item2mobile table tbody tr th {*/
  /*width: 15%;*/
/*}*/
/*#item2mobile table tbody tr td:nth-child(2) {*/
  /*width: 35%;*/
/*}*/
/*#item2mobile table tbody tr td:nth-child(3) {*/
  /*width: 35%;*/
/*}*/
/*#item2mobile table tbody tr td:nth-child(4) {*/
  /*width: 15%;*/
/*}*/
/*#item3mobile table thead tr th:nth-child(1) {*/
  /*width: 15%;*/
/*}*/
/*#item3mobile table thead tr th:nth-child(2) {*/
  /*width: 38%;*/
/*}*/
/*#item3mobile table thead tr th:nth-child(3) {*/
  /*width: 16%;*/
/*}*/
/*#item3mobile table thead tr th:nth-child(4) {*/
  /*width: 16%;*/
/*}*/
/*#item3mobile table thead tr th:nth-child(5) {*/
  /*width: 15%;*/
/*}*/
/*#item3mobile table tbody tr th:nth-child(1) {*/
  /*width: 15%;*/
/*}*/
/*#item3mobile table tbody tr td:nth-child(2) {*/
  /*width: 38%;*/
/*}*/
/*#item3mobile table tbody tr td:nth-child(3) {*/
  /*width: 16%;*/
/*}*/
/*#item3mobile table tbody tr td:nth-child(4) {*/
  /*width: 16%;*/
/*}*/
/*#item3mobile table tbody tr td:nth-child(5) {*/
  /*width: 15%;*/
/*}*/
/*!*# sourceMappingURL=list.css.map *!*/
