#sliderSegmentedControl{
    background: #2e2d2f;
    a.mui-control-item{
        color: rgba(255,255,255,0.4);
        line-height: 45px;
    }
    a.mui-control-item.mui-active{
        color: rgba(255,255,255,1);
    }
}
#sliderProgressBar{
    background: #FFFFFF !important;
    font-size: 14px;
}
.mui-slider-group{
    margin-top: 10px;
    -webkit-overflow-scrolling:touch;
    .mui-control-content{
        background: none;
    }
    .mui-slider-item{
        border: none !important;
        table{
            width: 100%;
            th,td{
                text-align: center;
                padding: 10px 0;
                font-weight: normal;
            }
            th{
                font-size: 13px;
            }
            td{
                font-size: 12px;
            }
            thead{
                tr{
                    border-bottom: 1px solid #757576;
                    background: rgba(46,45,47,0.8);
                }
                th:nth-child(odd){
                    border-bottom: 1px solid #FFFFFF;
                }
            }
             tbody{
                tr:nth-child(odd){
                    background: rgba(35,34,36,0.8);
                }
                tr:nth-child(even){
                    background: rgba(46,45,47,0.8);
                }
            }
            
            
        }
    }
}
