*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background: url(../img/bg.png) repeat-y left top;
    background-size: cover;
    overflow: hidden;
}
body{
    font-size: 12px;
    color: #FFFFFF;
    font-family:-apple-system,"helvetica Neue",arial,"PingFang SC","Hiragino Sans GB",HelveticaNeue-Light, 'Helvetica Neue Light',"Droid Sans","STHeiti","microsoft yahei","Microsoft JhengHei","Source Han Sans SC",SimSun,sans-serif;
}
i,em{
    font-style: normal;
}
a{
    color: #FFFFFF;
}
a:active,a:focus{
    color: #FFFFFF;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mui-content{
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
    background: transparent;
}

.headContent{
    width: 100%;
    height: 116px;
    margin-top: 10px;
    overflow: hidden;
    .baseInfo{
        width: 100%;
        height: 72px;
        background: rgba(46,45,47,0.8);
        position: relative;
        display: table;
        overflow: hidden;
        .team,.center{
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        .team{           
            width: 100px;       
            position: relative;    
            img{
                width: 40px;
                height: 40px;
                max-width: 40px;
                border: 1px solid #11cd61;
                border-radius: 50%;
            }
            h4{
                text-align: center;
                font-size: 13px;
                font-weight: normal;
                margin: 0 auto;
                max-width: 70px;
           }
           span{
               width: 15px;
               height: 15px;
               display: block;
               background: url(../img/pen.png) no-repeat center;
               background-size: cover;
               position: absolute;
               right: 30px;
               top: 5px;
           }
        }
        .team.right{
            img{
                
                border: 1px solid #80758c;
            }
        }
        .center{
            p{
                margin: 0;
                font-size: 12px;
                color: #FFFFFF;
            }
            p.score{
                font-size: 38px;
                line-height: initial;
            }
            
        }
    }
     .mainTtab{
        background: #2e2d2f;
        overflow: hidden;
        a{
            width: 25%;
            height: 44px;
            line-height: 44px;
            display: block;
            font-size: 14px;
            color: rgba(255,255,255,0.6);
            float: left;
            text-align: center;
            position: relative;
        }
        a.active{
            color: rgba(255,255,255,1);
        }
        a.active:after{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            height: 1px;
            background: #FFFFFF;
        }
     }
}

.mainContent{
    position: absolute;
    left: 0;
    top: 126px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.page{
    
}
//球队
.team{
    .content{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 147px;
        overflow: auto;
        .item{
            padding: 10px 0;
            position: relative;
            text-align: center;
            overflow: hidden;
            .z_info,.k_info{
                width: 38%;
                display: table;
                position: absolute;
                top: 10px;
            }
            .z_info .progrossBox,.k_info .progrossBox{
                width: 68%;
                height: 3px;
                display: table-cell;
                vertical-align: middle;
                overflow: hidden;  
            }
            .z_info .progrossBox .con,.k_info .progrossBox .con {
                width: 70%;
                height: 3px;
                border-radius: 5px;
                display: table-cell;
            }
            .z_info {
               left: 10px;
            }
            .z_info .progrossBox .con {
              background: #F19D20;
              float: right;
            }
            .z_info .num {
            }
            .k_info {
              right: 10px;
            }
            .k_info .progrossBox .con {
              background: #4C99C0;
              float: left;
            }
        }
        .item:nth-child(odd){
            background: rgba(46,45,47,0.8);
        }
        .item:nth-child(even){
            background: rgba(35, 34, 36, 0.8);
        }
    }
    
    .scrollBox{
        overflow-x: auto;
        .item{
            width: 800px;
            padding: 10px 0;
            text-align: center;
            overflow: auto;
        }
        .item:nth-child(odd){
            background: rgba(35, 34, 36, 0.8);
        }
        .item:nth-child(even){
            background: rgba(46,45,47,0.8);
        }
        .team-top{
            padding: 0;
            span{
                width: 75px;
                height: 65px;
                line-height: 65px;
                float: left;
            }
            span:first-child{
                width: 125px;
            }
            span:nth-child(odd){
                border-bottom: 1px solid rgba(255,255,255,0.6);
            }
        }
        .team-info{
            span{
                width: 75px;
                float: left;
            }
            span:first-child{
                width: 125px;
                text-align: left;
                padding-left: 10px;
            }
        }
        
    }    
}
//球员
.player{
    overflow: hidden;
    .player-tab{
        background: rgba(46, 45, 47, 0.8);
        overflow: hidden;
        .title{
            padding: 10px 20px;
            max-width: 50%;
            float: left;
            img {
                width: 25px;
                height:25px;
                vertical-align: middle;
                margin-right: 10px;
                border-radius:25px;
            }
        }
        .title.active{
          border-bottom: 1px solid #FFFFFF;
        }
    }
    .player-content{
        overflow: hidden;
        .item {
            background: transparent !important;
            overflow: hidden;
            position: relative;
            .content {
                overflow-y: hidden;
                overflow-x: auto;
                .top-head{
                    width: 1010px;
                    overflow: hidden;
                    background: rgba(46, 45, 47, 0.8);
                    span{
                        width: 70px;
                        padding: 5px 0;
                        display: block;
                        float: left;
                        text-align: center;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    }
                    span:nth-child(1){
                        width: 100px;
                    }
                    span:nth-child(odd){
                        border-bottom: 1px solid #ffffff;
                    }
                }
                .bottom-content{
                    width: 1010px;
                    overflow-y: auto;
                    .list{
                        overflow: hidden;
                        span{
                            width: 70px;
                            padding: 10px 0;
                            display: block;
                            float: left;
                            text-align: center;
                            img {
                                width: 8px;
                                vertical-align: middle;
                                margin-left: 4px;
                            }
                        }
                        span:nth-child(1){
                            width: 100px;
                            text-align: left;
                        }
                        span.nodata{
                            width: 1010px !important;
                            display: block !important;
                        }
                    }
                    .list:nth-child(odd) {
                        background: rgba(35, 34, 36, 0.8);
                    }
                    .list:nth-child(even) {
                        background: rgba(46, 45, 47, 0.8);
                    }
                }
            }
        }
        .item:last-child{
            display: none;
        }
    }
}

//图文
.imageText{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;   
    .listBox{
        padding-bottom: 64px;
        .item{
            padding: 10px 15px 10px 70px;
            position: relative;
            -webkit-overflow-scrolling:touch;
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: absolute;
                left: 10px;
                top: 10px;
                vertical-align: bottom;
            }
            .con{
                display: inline-block;
                p{
                    font-size: 12px;
                    color: #999999;
                    margin: 0;
                    overflow: hidden;
                    span:nth-child(odd){
                        float: left;
                    }
                    span:nth-child(even){
                        float: right;
                    }
                }   
                .description{
                    font-size: 12px;
                }
                .imgBox{
                    margin-left: -5px;
                    margin-right: -5px;
                    overflow: hidden;
                    line-height: 0;
                    span{
                        width: 33.333%;
                        float: left;
                        display: block;
                        padding: 5px;
                        img{
                            width: 100%;
                            height: auto;
                            border-radius: 0;
                            position: inherit;
                        }
                    }
                }
            }
        }
        .item:nth-child(even){
            background: rgba(46, 45, 47, 0.8);
        }
        .item:nth-child(odd){
            background: rgba(35, 34, 36, 0.8);
        }
        
    }
    .from-box{
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: table;
        padding: 10px 0;
        background: #2e2d2f;
        border-top: 1px solid #a0a0a0;
        .fileUpload{
            width: 20%;
            display: table-cell;
            vertical-align: middle;
            overflow: hidden;
            position: relative;
            text-align: center;
            input[type=file]{
                width: 100%;
                position: absolute;
                left: 0;
                top: 8px;
                opacity: 0;
            }
            img{
                width: 36px;
            }
        }
        input[type=text]{
            width: 60%;
            margin: 0;
            border-radius: 5px;
            color: #414141;
            font-size: 14px;
            border: none;
        }
        .fileUpload{
            width: 20%;
            overflow: hidden;
        }
        button{
            width: 20%;
            display: table-cell;
            vertical-align: middle;
            border: none;
            padding: 0;
            background: transparent;
            outline: none;
            img{
                width: 36px;
            }
        }
        button:focus{
            background: none;
        }
    }

}
//阵型
.formation{
    padding: 20px 0;
    background: rgba(46,45,47,0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;    
    .bg{
        position: absolute;
        width: 80%;
        left: 10%;
        right: 10%;
        img{
            width: 100%;
        }
    }
    .content{
        width: 80%;
        margin: 0 auto;
        .red{
            width: 10px;
            height: 10px;
            display: block;
            background: red;
            position: relative;
        }
        .item{
            background: transparent;
            position: absolute;
            img{
                width: 50px;
            }
            span{
                width: 15px;
                height: 20px;
                line-height: 28px;
                font-size: 12px;
                text-align: center;
                position: absolute;
                right: 0;
                top: 30px;
                display: block; 
            }
            .span_z{
               
                background: url(../img/iconfont-cloth_z.png) no-repeat center;
                background-size: cover;
            }
            .span_k{ 
                background: url(../img/iconfont-cloth_k.png) no-repeat center;
                background-size: cover;
            }
        }
    }
}
