* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background: url(../img/bg.png) repeat-y left top;
  background-size: cover;
  overflow: hidden;
}
body {
  font-size: 12px;
  color: #FFFFFF;
  font-family: -apple-system, "helvetica Neue", arial, "PingFang SC", "Hiragino Sans GB", HelveticaNeue-Light, 'Helvetica Neue Light', "Droid Sans", "STHeiti", "microsoft yahei", "Microsoft JhengHei", "Source Han Sans SC", SimSun, sans-serif;
}
i,
em {
  font-style: normal;
}
a {
  color: #FFFFFF;
}
a:active,
a:focus {
  color: #FFFFFF;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mui-content {
  background: transparent;
}
.headContent {
  width: 100%;
  height: 116px;
  margin-top: 10px;
  overflow: hidden;
}
.headContent .baseInfo {
  width: 100%;
  height: 72px;
  background: rgba(46, 45, 47, 0.8);
  position: relative;
  display: table;
  overflow: hidden;
}
.headContent .baseInfo .team,
.headContent .baseInfo .center {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.headContent .baseInfo .team {
  width: 100px;
  position: relative;
}
.headContent .baseInfo .team img {
  width: 40px;
  height: 40px;
  max-width: 40px;
  border: 1px solid #11cd61;
  border-radius: 50%;
}
.headContent .baseInfo .team h4 {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 70px;
}
.headContent .baseInfo .team span {
  width: 15px;
  height: 15px;
  display: block;
  background: url(../img/pen.png) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 30px;
  top: 5px;
}
.headContent .baseInfo .team.right img {
  border: 1px solid #80758c;
}
.headContent .baseInfo .center p {
  margin: 0;
  font-size: 12px;
  color: #FFFFFF;
}
.headContent .baseInfo .center p.score {
  font-size: 38px;
  line-height: initial;
}
.headContent .mainTtab {
  background: #2e2d2f;
  overflow: hidden;
}
.headContent .mainTtab a {
  width: 25%;
  height: 44px;
  line-height: 44px;
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  float: left;
  text-align: center;
  position: relative;
}
.headContent .mainTtab a.active {
  color: #ffffff;
}
.headContent .mainTtab a.active:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 1px;
  background: #FFFFFF;
}
.mainContent {
  position: absolute;
  left: 0;
  top: 126px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.team .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 147px;
  overflow: auto;
}
.team .content .item {
  padding: 10px 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.team .content .item .z_info,
.team .content .item .k_info {
  width: 38%;
  display: table;
  position: absolute;
  top: 10px;
}
.team .content .item .z_info .progrossBox,
.team .content .item .k_info .progrossBox {
  width: 68%;
  height: 3px;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
.team .content .item .z_info .progrossBox .con,
.team .content .item .k_info .progrossBox .con {
  width: 70%;
  height: 3px;
  border-radius: 5px;
  display: table-cell;
}
.team .content .item .z_info {
  left: 10px;
}
.team .content .item .z_info .progrossBox .con {
  background: #F19D20;
  float: right;
}
.team .content .item .k_info {
  right: 10px;
}
.team .content .item .k_info .progrossBox .con {
  background: #4C99C0;
  float: left;
}
.team .content .item:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.team .content .item:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.team .scrollBox {
  overflow-x: auto;
}
.team .scrollBox .item {
  width: 800px;
  padding: 10px 0;
  text-align: center;
  overflow: auto;
}
.team .scrollBox .item:nth-child(odd) {
  background: rgba(35, 34, 36, 0.8);
}
.team .scrollBox .item:nth-child(even) {
  background: rgba(46, 45, 47, 0.8);
}
.team .scrollBox .team-top {
  padding: 0;
}
.team .scrollBox .team-top span {
  width: 75px;
  height: 65px;
  line-height: 65px;
  float: left;
}
.team .scrollBox .team-top span:first-child {
  width: 125px;
}
.team .scrollBox .team-top span:nth-child(odd) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.team .scrollBox .team-info span {
  width: 75px;
  float: left;
}
.team .scrollBox .team-info span:first-child {
  width: 125px;
  text-align: left;
  padding-left: 10px;
}
.player {
  overflow: hidden;
}
.player .player-tab {
  background: rgba(46, 45, 47, 0.8);
  overflow: hidden;
}
.player .player-tab .title {
  padding: 10px 20px;
  max-width: 50%;
  float: left;
}
.player .player-tab .title img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 25px;
}
.player .player-tab .title.active {
  border-bottom: 1px solid #FFFFFF;
}
.player .player-content {
  overflow: hidden;
}
.player .player-content .item {
  background: transparent !important;
  overflow: hidden;
  position: relative;
}
.player .player-content .item .content {
  overflow-y: hidden;
  overflow-x: auto;
}
.player .player-content .item .content .top-head {
  width: 730px;
  overflow: hidden;
  background: rgba(46, 45, 47, 0.8);
}
.player .player-content .item .content .top-head span {
  width: 70px;
  padding: 5px 0;
  display: block;
  float: left;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.player .player-content .item .content .top-head span:nth-child(1) {
  width: 100px;
}
.player .player-content .item .content .top-head span:nth-child(odd) {
  border-bottom: 1px solid #ffffff;
}
.player .player-content .item .content .bottom-content {
  width: 730px;
  overflow-y: auto;
}
.player .player-content .item .content .bottom-content .list {
  overflow: hidden;
}
.player .player-content .item .content .bottom-content .list span {
  width: 70px;
  padding: 10px 0;
  display: block;
  float: left;
  text-align: center;
}
.player .player-content .item .content .bottom-content .list span img {
  width: 8px;
  vertical-align: middle;
  margin-left: 4px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(1) {
  width: 100px;
  text-align: left;
}
.player .player-content .item .content .bottom-content .list span.nodata {
  width: 1010px !important;
  display: block !important;
}
.player .player-content .item .content .bottom-content .list:nth-child(odd) {
  background: rgba(35, 34, 36, 0.8);
}
.player .player-content .item .content .bottom-content .list:nth-child(even) {
  background: rgba(46, 45, 47, 0.8);
}
.player .player-content .item:last-child {
  display: none;
}
.imageText {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.imageText .listBox {
  padding-bottom: 64px;
}
.imageText .listBox .item {
  padding: 10px 15px 10px 70px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.imageText .listBox .item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  vertical-align: bottom;
}
.imageText .listBox .item .con {
  display: inline-block;
}
.imageText .listBox .item .con p {
  font-size: 12px;
  color: #999999;
  margin: 0;
  overflow: hidden;
}
.imageText .listBox .item .con p span:nth-child(odd) {
  float: left;
}
.imageText .listBox .item .con p span:nth-child(even) {
  float: right;
}
.imageText .listBox .item .con .description {
  font-size: 12px;
}
.imageText .listBox .item .con .imgBox {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  line-height: 0;
}
.imageText .listBox .item .con .imgBox span {
  width: 33.333%;
  float: left;
  display: block;
  padding: 5px;
}
.imageText .listBox .item .con .imgBox span img {
  width: 100%;
  height: auto;
  border-radius: 0;
  position: inherit;
}
.imageText .listBox .item:nth-child(even) {
  background: rgba(46, 45, 47, 0.8);
}
.imageText .listBox .item:nth-child(odd) {
  background: rgba(35, 34, 36, 0.8);
}
.imageText .from-box {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
  padding: 10px 0;
  background: #2e2d2f;
  border-top: 1px solid #a0a0a0;
}
.imageText .from-box .fileUpload {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.imageText .from-box .fileUpload input[type=file] {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  opacity: 0;
}
.imageText .from-box .fileUpload img {
  width: 36px;
}
.imageText .from-box input[type=text] {
  width: 60%;
  margin: 0;
  border-radius: 5px;
  color: #414141;
  font-size: 14px;
  border: none;
}
.imageText .from-box .fileUpload {
  width: 20%;
  overflow: hidden;
}
.imageText .from-box button {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}
.imageText .from-box button img {
  width: 36px;
}
.imageText .from-box button:focus {
  background: none;
}
.formation {
  padding: 20px 0;
  background: rgba(46, 45, 47, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.formation .bg {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
}
.formation .bg img {
  width: 100%;
}
.formation .content {
  width: 80%;
  margin: 0 auto;
}
.formation .content .red {
  width: 10px;
  height: 10px;
  display: block;
  background: red;
  position: relative;
}
.formation .content .item {
  background: transparent;
  position: absolute;
}
.formation .content .item img {
  width: 50px;
}
.formation .content .item span {
/*  width: 15px;
  height: 20px;
  line-height: 28px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 30px;
  display: block;*/
  width: 20px;
  height: 20px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  font-weight: bold;
  right: 0;
  bottom: 4px;
  display: block;
  background: url(../img/icon/iconfont-cloth.png) no-repeat center;
  background-size: cover;

}
.formation .content .item .span_z {
  background: url(../img/iconfont-cloth_z.png) no-repeat center;
  background-size: cover;
}
.formation .content .item .span_k {
  background: url(../img/iconfont-cloth_k.png) no-repeat center;
  background-size: cover;
}
/*# sourceMappingURL=live.css.map */
