/*公共*/
.mui-input-group,.successBtn .mui-btn-block{
	border: 1px solid #c8c7cc;
	border-radius: 5px;
	color: #FFFFFF;
}

.mui-input-group{background: transparent;margin: 0 20px; }
.mui-input-group:before,.mui-input-group:after{
	height: 0 !important;
}
.mui-input-row{font-family: "microsoft yahei";overflow: hidden;}
.mui-input-row:after{
	right: 15px !important;
}

.mui-input-row label{
	padding: 13px 15px;
	width: 30%;
}
.mui-input-row input{width: 65%;font-size: 12px;color: #FFFFFF;float: left !important;}

.successBtn{
	padding: 20px;
}
.successBtn .mui-btn-block{padding: 0;background: transparent;line-height:40px;margin: 0;font-size: 15px;}
.successBtn a.loginBtnOk{background: #4c98c0;}


.loginBox .logo {margin: 100px auto 35px; font-size: 30px;color: #FFFFFF;text-align: center;font-family: "宋体";}

