body {
  background: url(../img/bg.png) repeat-y center top;
  background-size: 100% auto;
}
.match-content {
  margin-bottom: 10px;
  overflow: hidden;
}
.match-content:first-child {
  background: rgba(46, 45, 47, 0.8);
}
.match-img {
  overflow: hidden;
  line-height: 0;
}
.match-img img {
  width: 100%;
}
.title {
  padding: 10px 45px 24px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  background: url(../img/icon/match-title-bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin-top: -25px;
}
.trophy {
  text-align: center;
}
.trophy img {
  width: 50px;
  margin: -20px 0 0 -23px;
}
.trophy h4 {
  font-weight: normal;
  font-size: 19px;
  margin-top: 10px;
}
.location-time {
  padding: 15px 0;
  text-align: center;
  overflow: hidden;
}
.location-time span {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0 3px;
}
.location-time span img {
  margin-right: 5px;
  vertical-align: middle;
  height: 11px;
}
.tab {
  overflow: hidden;
}
.tab a {
  display: block;
  float: left;
  width: 33.333%;
  padding: 15px 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid #e9e9e9;
}
.tab a img {
  width: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.tab a:first-child {
  background: #4c98c0;
}
.tab a:nth-child(2) {
  background: #eb5e69;
}
.tab a:last-child {
  background: #33475f;
}
.listBox .item {
  overflow: hidden;
  padding: 15px 10px;
  -webkit-overflow-scrolling: touch;
}
.listBox .item .head img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
.listBox .item .head .name-time {
  display: inline-block;
}
.listBox .item .head .name-time h4,
.listBox .item .head .name-time p {
  margin: 0;
}
.listBox .item .head .name-time h4 {
  font-size: 18px;
  font-weight: normal;
}
.listBox .item .head .name-time p {
  font-size: 12px;
}
.listBox .item .description {
  margin: 10px 0 5px;
  overflow: hidden;
}
.listBox .item .description a {
  overflow: hidden;
}
.listBox .item .description a:focus,
.listBox .item .description a:active {
  color: #FFFFFF;
}
.listBox .item .description p {
  margin: 0;
  font-size: 12px;
  color: #FFFFFF;
}
.listBox .item .description .matchImgBox {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  line-height: 0;
}
.listBox .item .description .matchImgBox span {
  width: 33.333%;
  float: left;
  display: block;
  padding: 5px;
}
.listBox .item .description .matchImgBox span img {
  width: 100%;
}
.listBox .item .pageView {
  margin-top: 10px;
  overflow: hidden;
}
.listBox .item .pageView a {
  width: 33.333%;
  display: block;
  float: left;
  text-align: center;
  font-size: 18px;
}
.listBox .item .pageView a img {
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
.listBox .item:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.listBox .item:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  display: none;
  background: rgba(0, 0, 0, 0.9);
}
@media only screen and (min-width: 375px) {
  .location-time span {
    padding: 0 10px;
  }
  .location-time span img {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=match.css.map */
