html,body,.mui-content,.multlpleTeamBox{
	width:100% !important;
	height:100% !important;
}
.fixBox{
  height: 162px;
  overflow: hidden;
}
.base-info {
  width: 100%;
  margin-top: 10px;
  background: rgba(46, 45, 47, 0.8);
  overflow: hidden;
  position: absolute;
  left:0;
  top:0;
  z-index:999999;
}
.base-info .team {
  position: absolute;
  top: 10px;
  bottom: 10px;
  max-width: 100px;
  text-align: center;
  z-index: 2;
}
.base-info .team img {
  width: 65px;
  height: 65px;
  max-width: 65px;
  border: 1px solid #80758c;
  border-radius: 50%;
}
.base-info .team h4 {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
}
.base-info .left {
  left: 15px;
}
.base-info .right {
  right: 15px;
}
.base-info .right .match-type {
  line-height: 105px;
}
.base-info .center {
  text-align: center;
  display: table;
  width: 100%;
  height: 115px;
}
.base-info .center .main {
  display: table-cell;
  vertical-align: middle;
}
.base-info .center p {
  margin: 0;
  font-size: 12px;
  color: #FFFFFF;
}
.base-info .center p.score {
  font-size: 28px;
  line-height: initial;
}
.tab {
  width:100%;
  background: #2E2E2F;
  overflow: hidden;
  position: absolute;
  left:0;
  top:115px;
  z-index:999999;
}
.tab a {
  width: 20%;
  padding: 15px 0;
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  float: left;
  text-align: center;

}
.tab a.active {
  color: #ffffff;
  border-bottom: 1px solid #FFFFFF;
}
.mainContent{
 	width:100%;
 	position: absolute !important;
 	top:167px;
 	left:0;
 	right:0;
 	bottom: 0;
	overflow:hidden;
}
.page {
  display: none;
  overflow-x:hidden;
  overflow-y:auto;
}
.page .item:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.page .item:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.page:first-child {
  display: block;
}
.team .singleTeam,.team .multiTeam{
	display:none;
}
.team .singleTeam .item {
  padding: 10px 20%;
  position: relative;
  overflow: hidden;
}
.team .singleTeam .item  #single-pie,#muli-pie {
  height: 80px;
}
.team .singleTeam .item span {
  width: 70px;
  display: block;
  text-align: center;
  position: absolute;
  line-height: 80px;
  font-size: 30px;
}
.team .singleTeam .item span em {
  font-size: 15px;
}
.team .singleTeam .item span.z {
  left: 20%;
}
.team .singleTeam .item span.k {
  right: 20%;
}
.team .singleTeam .item .title {
  text-align: center;
  font-size: 14px;
}
.team .singleTeam .item .main {
  overflow: hidden;
}
.team .singleTeam .item .main div {
  width: 70px;
}
.team .singleTeam .item .main div p {
  color: #FFFFFF;
  font-size: 14px;
  margin: 5px 0;
  line-height: normal;
}
.team .singleTeam .item .main div p em {
  display: block;
  font-size: 30px;
}
.team .singleTeam .item .main div p.attack {
  text-align: center;
}
.team .singleTeam .item .main .left {
  float: left;
  text-align: left;
}
.team .singleTeam .item .main .right {
  float: right;
  text-align: right;
}
.team .multiTeam .pie {
  padding: 0px 20%;
  background: rgba(46, 45, 47, 0.8);
  position: relative;
  overflow: hidden;
}

.team .multiTeam .pie span {
  width: 70px;
  display: block;
  text-align: center;
  position: absolute;
  line-height: 80px;
  font-size: 30px;
}
.team .multiTeam .pie span em {
  font-size: 15px;
}
.team .multiTeam .pie span.z {
  left: 20%;
}
.team .multiTeam .pie span.k {
  right: 20%;
}
.team .multiTeam .content .item {
  padding: 5px 0;
  text-align: center;
  position: relative;
  overflow:hidden;
}
.team .multiTeam .content .item .z_info,
.team .multiTeam .content .item .k_info {
  position: absolute;
  top: 5px;
}
.team .multiTeam .content .item .z_info .progrossBox,
.team .multiTeam .content .item .k_info .progrossBox {
  width: 71%;
  height: 3px;
  margin: 9px 0;
  vertical-align: middle;
  overflow: hidden;
}
.team .multiTeam .content .item .z_info .progrossBox .con,
.team .multiTeam .content .item .k_info .progrossBox .con {
  height: 3px;
  border-radius: 5px;
}
.team .multiTeam .content .item .z_info .num,
.team .multiTeam .content .item .k_info .num {
  vertical-align: middle;
}
.team .multiTeam .content .item .z_info {
  right: 57%;
  left: 15px;
}
.team .multiTeam .content .item .z_info .progrossBox {
  float: left;
}
.team .multiTeam .content .item .z_info .progrossBox .con {
  background: #F19D20;
  float: right;
}
.team .multiTeam .content .item .z_info .num {
  float: right;
}
.team .multiTeam .content .item .k_info {
  left: 57%;
  right: 15px;
}
.team .multiTeam .content .item .k_info .progrossBox {
  float: right;
}
.team .multiTeam .content .item .k_info .progrossBox .con {
  background: #4C99C0;
  float: left;
}
.team .content .item .k_info .num {
  float: left;
}
.team .multiTeam .content .item:nth-child(odd) {
  background: rgba(35, 34, 36, 0.8);
}
.team .multiTeam .content .item:nth-child(even) {
  background: rgba(46, 45, 47, 0.8);
}
.player{
  overflow: hidden;
}
.player .player-tab{
  background: rgba(46, 45, 47, 0.8);
  overflow: hidden;
}
.player .player-tab .title{
  padding: 10px 20px;
  max-width: 50%;
  float: left;
}
.player .player-tab .title.active{
  border-bottom: 1px solid #FFFFFF;
}
.player .player-tab .title img {
  width: 25px;
  height:25px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius:25px;
}
.player .player-tab .title:last-child{
  display: none;
}
.player .player-content{
  overflow: hidden;
}
.player .player-content .item {
  background: transparent !important;
  overflow: hidden;
  position: relative;
}
.player .player-content .item .content {
  overflow-y: hidden;
  overflow-x: auto;
}
.player .player-content .item .content .top-head{
  width: 610px;
  overflow: hidden;
  background: rgba(46, 45, 47, 0.8);
}
.player .player-content .item .content .top-head span{
  padding: 5px;
  display: block;
  float: left;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.player .player-content .item .content .top-head span:nth-child(1){
  width: 100px;
  border-bottom: 1px solid #ffffff;
}
.player .player-content .item .content .top-head span:nth-child(2){
  width: 100px;
}
.player .player-content .item .content .top-head span:nth-child(3){
  width: 70px;
  border-bottom: 1px solid #ffffff;
}
.player .player-content .item .content .top-head span:nth-child(4){
  width: 110px;
}
.player .player-content .item .content .top-head span:nth-child(5){
  width: 90px;
  border-bottom: 1px solid #ffffff;
}
.player .player-content .item .content .top-head span:nth-child(6){
  width: 70px;
}
.player .player-content .item .content .top-head span:nth-child(7){
  width: 70px;
  border-bottom: 1px solid #ffffff;
}
.player .player-content .item .content .bottom-content{
  width: 610px;
  overflow-y: auto;
}
.player .player-content .item .content .bottom-content .list{
  overflow: hidden;
}
.player .player-content .item .content .bottom-content .list:nth-child(odd) {
  background: rgba(35, 34, 36, 0.8);
}
.player .player-content .item .content .bottom-content .list:nth-child(even) {
  background: rgba(46, 45, 47, 0.8);
}
.player .player-content .item .content .bottom-content .list span{
  padding: 10px 0;
  display: block;
  float: left;
  text-align: center;
}
.player .player-content .item .content .bottom-content .list span.nodata{
  width: 600px !important;
  display: block !important;
}
.player .player-content .item .content .bottom-content .list span img {
  width: 8px;
  vertical-align: middle;
  margin-left: 4px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(1) {
  width: 100px;
  text-align: left;
  padding-left: 10px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(2) {
  width: 100px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(3) {
  width: 70px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(4) {
  width: 110px;
}

.player .player-content .item .content .bottom-content .list span:nth-child(5) {
  width: 90px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(6) {
  width: 70px;
}
.player .player-content .item .content .bottom-content .list span:nth-child(7) {
  width: 70px;
}
@media only screen and (min-width: 601px){
  .player .player-content .item .content .top-head{
    width: 100% !important;
  }
  .player .player-content .item .content .top-head span{
    width: 14% !important;
  }
  .player .player-content .item .content .top-head span:nth-child(5){
    width: 16% !important;
  }
  .player .player-content .item .content .bottom-content{
    width: 100% !important;
  }
  .player .player-content .item .content .bottom-content .list span{
    width: 14% !important;
  }
  .player .player-content .item .content .bottom-content .list span.nodata{
    width: 100% !important;
  }
  .player .player-content .item .content .bottom-content .list span:nth-child(5) {
    width: 16% !important;
  }
}

.imageText{
  overflow: hidden;
}
.imageText .listBox {
  padding-bottom: 63px;
  overflow: auto;
}
.imageText .listBox.nopadding{
  padding-bottom: 0px !important;
}
.imageText .listBox .item {
  padding: 10px 15px 10px 70px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.imageText .listBox .item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  vertical-align: bottom;
}
.imageText .listBox .item .con {
  /* display: inline-block; */
}
.imageText .listBox .item .con p {
  font-size: 12px;
  color: #999999;
  margin: 0;
  overflow: hidden;
}
.imageText .listBox .item .con p span:nth-child(odd) {
  float: left;
}
.imageText .listBox .item .con p span:nth-child(even) {
  float: right;
}
.imageText .listBox .item .con .description {
  font-size: 12px;
}
.imageText .listBox .item .con .description.orange {
  color: #F68A1E;
}
.imageText .listBox .item .con .imgBox {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  line-height: 0;
}
.imageText .listBox .item .con .imgBox span {
  width: 33.333%;
  float: left;
  display: block;
  padding: 5px;
}
.imageText .listBox .item .con .imgBox span img {
  width: 100%;
  height: auto;
  border-radius: 0;
  position: inherit;
}
.imageText .from-box {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #2e2d2f;
  border-top: 1px solid #a0a0a0;
}
.imageText .from-box .fileUpload {
  width: 20%;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.imageText .from-box .fileUpload input[type=file] {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  opacity: 0;
}
.imageText .from-box .fileUpload img {
  width: 36px;
}
.imageText .from-box input[type=text] {
  width: 60%;
  margin: 0;
  border-radius: 5px;
  color: #414141;
  font-size: 14px;
  border: none;
}
.imageText .from-box .fileUpload {
  width: 20%;
  overflow: hidden;
}
.imageText .from-box button {
  width: 20%;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}
.imageText .from-box button img {
  width: 36px;
}
.imageText .from-box button:focus {
  background: none;
}
.formation {
  padding: 20px 0;
  background: rgba(46, 45, 47, 0.8);
  position: relative;
}
.formation .bg {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
}
.formation .bg img {
  width: 100%;
}
.formation .content {
  width: 80%;
  margin: 0 auto;
}
.formation .content .red {
  width: 10px;
  height: 10px;
  display: block;
  background: red;
  position: relative;
}
.formation .content .item {
  background: transparent;
  position: absolute;
  margin-left:15px;
}
.formation .content .item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.formation .content .item span {
  width: 20px;
  height: 20px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  font-weight: bold;
  right: 0;
  bottom: 4px;
  display: block;
  background: url(../img/icon/iconfont-cloth.png) no-repeat center;
  background-size: cover;
}

.timeBox {
  padding: 10px 0;
  background: rgba(46, 45, 47, 0.8);
}
.timeBox .title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.timeBox .showtime {
  position: relative;
  z-index: 2;
}
.timeBox .showtime .item {
  margin-bottom: 20px;
  background: transparent;
  position: relative;
}
.timeBox .showtime .item .icon {
  text-align: center;
  line-height: 0;
}
.timeBox .showtime .item .icon img {
  width: 35px;
  height: 35px;
  margin: 0 auto;
}
.timeBox .showtime .item .info {
  line-height: 35px;
  position: absolute;
  top: 0;
}
.timeBox .showtime .item .info .red-card img,
.timeBox .showtime .item .info .yellow-card img {
  width: 7px;
  margin-left:5px;
}
.timeBox .showtime .item .info .head img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.timeBox .showtime .item .info span {
  display: block;
  line-height: 18px;
}
.timeBox .showtime .item .time {
  line-height: 35px;
  position: absolute;
  top: 0;
}
.timeBox .showtime .item:last-child {
  margin: 0;
}
.timeBox .showtime .item_z .info {
  right: 50%;
  padding-right: 27px;
}
.timeBox .showtime .item_z .info .red-card,
.timeBox .showtime .item_z .info .yellow-card {
  float: left;
}
.timeBox .showtime .item_z .info .red-card {
  margin-right: 5px;
}
.timeBox .showtime .item_z .info .goal{
  float: left;
  margin-right: 5px;
  width: 15px;
  height: 40px;
}
.timeBox .showtime .item_z .info .goal img{
  width: 100%;
  vertical-align: middle;
}
.timeBox .showtime .item_z .info .head {
  float: left;
  width: 40px;
  height: 40px;
}
.timeBox .showtime .item_z .info span {
  padding-left: 20px;
}
.timeBox .showtime .item_z .info span.up {
  background: url(../img/icon/up.png) no-repeat left center;
  background-size: 10px;
}
.timeBox .showtime .item_z .info span.down {
  background: url(../img/icon/down.png) no-repeat left center;
  background-size: 10px;
}

.timeBox .showtime .item_z .info span.attack {
  background: url(../img/icon/shoe.png) no-repeat left center;
  background-size: 14px;
}
.timeBox .showtime .item_z .info span.goalin {
  background: url(../img/icon/ball.png) no-repeat left center;
  background-size: 10px;
}

.timeBox .showtime .item_z .time {
  left: 50%;
  padding-left: 27px;
}
.timeBox .showtime .item_k .info {
  left: 50%;
  padding-left: 27px;
}
.timeBox .showtime .item_k .info .red-card,
.timeBox .showtime .item_k .info .yellow-card {
  float: right;
}
.timeBox .showtime .item_k .info .red-card {
  margin-left: 5px;
}
.timeBox .showtime .item_k .info .goal{
  float: right;
  margin-left: 5px;
  width: 15px;
  height: 40px;
}
.timeBox .showtime .item_k .info .goal img{
  width: 100%;
  vertical-align: middle;
}
.timeBox .showtime .item_k .info .head {
  float: right;
}
.timeBox .showtime .item_k .info span {
  padding-right: 20px;
}
.timeBox .showtime .item_k .info span.up {
  background: url(../img/icon/up.png) no-repeat right center;
  background-size: 10px;
}
.timeBox .showtime .item_k .info span.down {
  background: url(../img/icon/down.png) no-repeat right center;
  background-size: 10px;
}

.timeBox .showtime .item_k .info span.attack {
  background: url(../img/icon/shoe.png) no-repeat right center;
  background-size: 14px;
}
.timeBox .showtime .item_k .info span.goalin {
  background: url(../img/icon/ball.png) no-repeat right center;
  background-size: 10px;
}

.timeBox .showtime .item_k .time {
  right: 50%;
  padding-right: 27px;
}
.timeBox .showtime:after {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 60px;
  content: '';
  background: #505153;
  z-index: -1;
  width: 1px;
}
/*# sourceMappingURL=multipleTeam.css.map */
