.base_info{
    margin: 10px 0;
    padding: 15px;
    background: rgba(46,45,47,0.8);
    overflow: hidden;
    .head{
        width: 74px;
        height: 74px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        border:1px solid #FFFFFF;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .match-info{
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        h4{
            font-size: 14px;
            margin-bottom: 10px;
            .star{
                margin-left: 10px;
                vertical-align: text-bottom;
                img{
                    width: 10px;
                }
            }
        }
        p{
            color: #FFFFFF;
            margin: 0;
        }
    }
} 

.mainContent{
    .item{
        padding: 0 10px;
        overflow: hidden;
        .pie{
            position: relative;
            .txt{
                width: 70px;
                display: block;
                text-align: center;
                position: absolute;
                top: 51px;
                font-size: 16px;
                p{
                    margin: 0;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }
            .txt.l{
                left: 10%;
            }
            .txt.r{
                right: 10%;
            }
        }
        .pie.percent{
            width: 50%;
            float: left;
            .txt{
                font-size: 14px;
                top:29px;
                p{
                    font-size: 13px;
                }
            }
            .txt.l{
                left: 0%;
            }
            .txt.r{
                right: 0%;
            }
            #assists,#fight,#steals,#foul{
                height: 100px;
            }
        }
    }
    .shoot_ratio{
        #shoot_ratio{
            height: 150px;
        }
        
    }
    .item:nth-child(odd){
        background: rgba(46,45,47,0.8);
    }
    .item:nth-child(even){
        background: rgba(35,34,36,0.8);
    }
}


@media only screen and (max-width: 375px){
    .mainContent{
        .item{
            .pie{
                .txt{
                    width: 60px;
                }
            }
            .pie.percent{
                .txt{
                    font-size: 14px;
                    top:24px;
                    p{
                        font-size: 13px;
                    }
                }
                #assists,#fight,#steals,#foul{
                    height: 90px;
                }
            }
        }
        .shoot_ratio{
            #shoot_ratio{
                height: 150px;
            }
            
        }
    }
}


@media only screen and (max-width: 320px){
    .mainContent{
        .item{
            .pie{
                .txt{
                    width: 50px;
                }
            }
            .pie.percent{
                .txt{
                    font-size: 13px;
                    top:16px;
                    p{
                        font-size: 12px;
                    }
                }
                #assists,#fight,#steals,#foul{
                    height: 75px;
                }
            }
        }
        .shoot_ratio{
            #shoot_ratio{
                height: 150px;
            }
            
        }
    }

}
        