.base_info {
  margin: 10px 0;
  padding: 15px;
  background: rgba(46, 45, 47, 0.8);
  overflow: hidden;
}
.base_info .head {
  width: 74px;
  height: 74px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  overflow: hidden;
}
.base_info .head img {
  width: 100%;
}
.base_info .match-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.base_info .match-info h4 {
  font-size: 14px;
  margin-bottom: 10px;
}
.base_info .match-info h4 .star {
  margin-left: 10px;
  vertical-align: text-bottom;
}
.base_info .match-info h4 .star img {
  width: 10px;
}
.base_info .match-info p {
  color: #FFFFFF;
  margin: 0;
}
.mainContent .item {
  padding: 0 10px;
  overflow: hidden;
}
.mainContent .item .pie {
  position: relative;
}
.mainContent .item .pie .txt {
  width: 70px;
  display: block;
  text-align: center;
  position: absolute;
  top: 51px;
  font-size: 16px;
}
.mainContent .item .pie .txt p {
  margin: 0;
  font-size: 14px;
  color: #FFFFFF;
}
.mainContent .item .pie .txt.l {
  left: 10%;
}
.mainContent .item .pie .txt.r {
  right: 10%;
}
.mainContent .item .pie.percent {
  width: 50%;
  float: left;
}
.mainContent .item .pie.percent .txt {
  font-size: 14px;
  top: 29px;
}
.mainContent .item .pie.percent .txt p {
  font-size: 13px;
}
.mainContent .item .pie.percent .txt.l {
  left: 0%;
}
.mainContent .item .pie.percent .txt.r {
  right: 0%;
}
.mainContent .item .pie.percent #assists,
.mainContent .item .pie.percent #fight,
.mainContent .item .pie.percent #steals,
.mainContent .item .pie.percent #foul {
  height: 100px;
}
.mainContent .shoot_ratio #shoot_ratio {
  height: 150px;
}
.mainContent .item:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.mainContent .item:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
@media only screen and (max-width: 375px) {
  .mainContent .item .pie .txt {
    width: 60px;
  }
  .mainContent .item .pie.percent .txt {
    font-size: 14px;
    top: 24px;
  }
  .mainContent .item .pie.percent .txt p {
    font-size: 13px;
  }
  .mainContent .item .pie.percent #assists,
  .mainContent .item .pie.percent #fight,
  .mainContent .item .pie.percent #steals,
  .mainContent .item .pie.percent #foul {
    height: 90px;
  }
  .mainContent .shoot_ratio #shoot_ratio {
    height: 150px;
  }
}
@media only screen and (max-width: 320px) {
  .mainContent .item .pie .txt {
    width: 50px;
  }
  .mainContent .item .pie.percent .txt {
    font-size: 13px;
    top: 16px;
  }
  .mainContent .item .pie.percent .txt p {
    font-size: 12px;
  }
  .mainContent .item .pie.percent #assists,
  .mainContent .item .pie.percent #fight,
  .mainContent .item .pie.percent #steals,
  .mainContent .item .pie.percent #foul {
    height: 75px;
  }
  .mainContent .shoot_ratio #shoot_ratio {
    height: 150px;
  }
}
/*# sourceMappingURL=per_performance.css.map */
