.schedule .time,.time-today {
  display: inline-block;
  margin: 10px 0 5px 10px;
  border-radius: 5px;
  padding: 0 5px;
}
.schedule .time {
  background: #4c98c0;
  height: 18px;
  margin: 3px 5px;
}
.schedule .time-today  {
  background: #e89100;
  height: 18px;
  margin: 3px 5px;
}
ul {
  background: transparent;
  -webkit-overflow-scrolling: touch;
}
ul li {
  /*height: 135px;*/
  overflow: hidden;
  position: relative;
}
ul li .team {
  width: 100px;
  height:100px;
  text-align: centerss;
  position: absolute;
  top: 15px;
}
ul li .team .imgbox {
  position: relative;
  text-align: center;
}
ul li .team .imgbox img {
  width: 74px;
  height: 74px;
  max-width: 74px;
  margin: 0 auto;
  border: 1px solid #80758c;
  border-radius: 50%;
}
ul li .team .imgbox span {
  position: absolute;
  bottom: 0;
  right: 0;
}
ul li .team .imgbox span img {
  width: 20px;
  height: 20px;
}
ul li .team h4 {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
ul li .content {
  padding: 37px 120px;
  text-align: center;
  overflow: hidden;
}
ul li .content .score {
  font-size: 18px;
  margin: 5px 0;
}
ul li .content .name,
ul li .content .address {
  font-size: 12px;
}
ul li .team.left {
  left: 10px;
}
ul li .team.right {
  right: 10px;
}
ul li:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
ul li:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
/*# sourceMappingURL=schedule-list.css.map */
