 .schedule{
     .time{
        display: inline-block;
         margin: 10px 0 5px 10px;
         border-radius: 5px;
         padding: 0 5px;
     }
 }
 .schedule:nth-child(odd){
     .time{
        background: #4c98c0;
     }
 }
  .schedule:nth-child(even){
     .time{
        background: #e89100;
     }
 }
 ul{
     background: transparent;
     -webkit-overflow-scrolling: touch;
     li{
         height: 135px;
        overflow: hidden;
        position: relative;
        .team{
            position: absolute;
            top: 15px;
            .imgbox{
                position: relative;
                img{
                    width: 74px;
                    height: 74px;
                    max-width: 74px;
                    border: 1px solid #80758c;
                    border-radius: 50%;
                }
                span{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            h4{
                text-align: center;
                font-size: 13px;
                font-weight: normal;
            }
            
        }
        .content{
            margin: 20px 0;
            text-align: center;
            overflow: hidden;
            .score{
                font-size: 36px;
                margin: 15px 0;
            }
            .name,.address{
                font-size: 12px;
            }
        }
        .team.left{
            left: 15px;
        }
        .team.right{
            right: 15px;
        }
    }
    li:nth-child(odd){
        background: rgba(46,45,47,0.8);
    }
    li:nth-child(even){
        background: rgba(35,34,36,0.8);
    }
 }