.base-info {
  width: 100%;
  height: 125px;
  margin-top: 10px;
  background: rgba(46, 45, 47, 0.8);
  position: relative;
  overflow: hidden;
}
.base-info .team {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 74px;
  text-align: center;
  z-index: 2;
}
.base-info .team img {
  width: 74px;
  height: 74px;
  max-width: 74px;
  border: 1px solid #80758c;
  border-radius: 50%;
}
.base-info .team h4 {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}
.base-info .left {
  left: 15px;
}
.base-info .right {
  right: 15px;
}
.base-info .right .match-type {
  line-height: 105px;
}
.base-info .center {
  text-align: center;
  display: table;
  width: 100%;
  height: 135px;
}
.base-info .center .main {
  display: table-cell;
  vertical-align: middle;
}
.base-info .center p {
  margin: 0;
  font-size: 12px;
  color: #FFFFFF;
}
.base-info .center p.score {
  font-size: 30px;
  line-height: initial;
}
.tab {
  background: #2E2E2F;
  overflow: hidden;
}
.tab a {
  width: 20%;
  padding: 15px 0;
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  float: left;
  text-align: center;
}
.tab a.active {
  color: #ffffff;
  border-bottom: 1px solid #FFFFFF;
}
.page {
  display: none;
}
.page .item:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.page .item:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.page:first-child {
  display: block;
}
.team .item {
  padding: 10px 20%;
  position: relative;
  overflow: hidden;
}
.team .item #pie {
  height: 100px;
}
.team .item span {
  width: 70px;
  display: block;
  text-align: center;
  position: absolute;
  line-height: 100px;
  font-size: 30px;
}
.team .item span em {
  font-size: 15px;
}
.team .item span.z {
  left: 20%;
}
.team .item span.k {
  right: 20%;
}
.team .item .title {
  text-align: center;
  font-size: 14px;
}
.team .item .main {
  overflow: hidden;
}
.team .item .main div {
  width: 70px;
}
.team .item .main div p {
  color: #FFFFFF;
  font-size: 14px;
  margin: 5px 0;
  line-height: normal;
}
.team .item .main div p em {
  display: block;
  font-size: 30px;
}
.team .item .main div p.attack {
  text-align: center;
}
.team .item .main .left {
  float: left;
  text-align: left;
}
.team .item .main .right {
  float: right;
  text-align: right;
}
.player .item {
  background: transparent !important;
  margin-bottom: 10px;
  overflow: hidden;
}
.player .item .title {
  padding: 10px;
  background: rgba(46, 45, 47, 0.8);
}
.player .item .title img {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
.player .item .content {
  overflow: auto;
}
.player .item .content table {
  width: 150%;
}
.player .item .content table td,
.player .item .content table th {
  text-align: center;
}
.player .item .content table th {
  padding: 0 5px 5px;
  font-weight: normal;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.player .item .content table th:nth-child(odd) {
  border-bottom: 1px solid #ffffff;
}
.player .item .content table td {
  padding: 15px 0;
}
.player .item .content table td img {
  width: 8px;
  vertical-align: middle;
  margin-left: 10px;
}
.player .item .content table td:first-child {
  text-align: left;
  padding-left: 10px;
}
.player .item .content table tr:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.player .item .content table tr:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.imageText .listBox {
  padding-bottom: 63px;
}
.imageText .listBox .item {
  padding: 10px 15px 10px 70px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.imageText .listBox .item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  vertical-align: bottom;
}
.imageText .listBox .item .con {
  display: inline-block;
}
.imageText .listBox .item .con p {
  font-size: 12px;
  color: #999999;
  margin: 0;
  overflow: hidden;
}
.imageText .listBox .item .con p span:nth-child(odd) {
  float: left;
}
.imageText .listBox .item .con p span:nth-child(even) {
  float: right;
}
.imageText .listBox .item .con .description {
  font-size: 12px;
}
.imageText .listBox .item .con .imgBox {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  line-height: 0;
}
.imageText .listBox .item .con .imgBox span {
  width: 33.333%;
  float: left;
  display: block;
  padding: 5px;
}
.imageText .listBox .item .con .imgBox span img {
  width: 100%;
  height: auto;
  border-radius: 0;
  position: inherit;
}
.imageText .from-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #2e2d2f;
  border-top: 1px solid #a0a0a0;
}
.imageText .from-box .fileUpload {
  width: 20%;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.imageText .from-box .fileUpload input[type=file] {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  opacity: 0;
}
.imageText .from-box .fileUpload img {
  width: 36px;
}
.imageText .from-box input[type=text] {
  width: 60%;
  margin: 0;
  border-radius: 5px;
  color: #414141;
  font-size: 14px;
  border: none;
}
.imageText .from-box .fileUpload {
  width: 20%;
  overflow: hidden;
}
.imageText .from-box button {
  width: 20%;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}
.imageText .from-box button img {
  width: 36px;
}
.imageText .from-box button:focus {
  background: none;
}
.formation {
  padding: 20px 0;
  background: rgba(46, 45, 47, 0.8);
  position: relative;
}
.formation .bg {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
}
.formation .bg img {
  width: 100%;
}
.formation .content {
  width: 80%;
  margin: 0 auto;
}
.formation .content .red {
  width: 10px;
  height: 10px;
  display: block;
  background: red;
  position: relative;
}
.formation .content .item {
  background: transparent;
  position: absolute;
}
.formation .content .item img {
  width: 50px;
}
.formation .content .item span {
  width: 30px;
  height: 27px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background: url(../img/icon/iconfont-cloth.png) no-repeat center;
  background-size: cover;
}
.timeBox {
  padding: 10px 0;
  background: rgba(46, 45, 47, 0.8);
}
.timeBox .title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.timeBox .showtime {
  position: relative;
  z-index: 2;
}
.timeBox .showtime .item {
  margin-bottom: 20px;
  background: transparent;
  position: relative;
}
.timeBox .showtime .item .icon {
  text-align: center;
  line-height: 0;
}
.timeBox .showtime .item .icon img {
  width: 35px;
  height: 35px;
  margin: 0 auto;
}
.timeBox .showtime .item .info {
  line-height: 35px;
  position: absolute;
  top: 0;
}
.timeBox .showtime .item .info .red-card img,
.timeBox .showtime .item .info .yellow-card img {
  width: 7px;
}
.timeBox .showtime .item .info .head img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.timeBox .showtime .item .info span {
  display: block;
  line-height: 18px;
}
.timeBox .showtime .item .time {
  line-height: 35px;
  position: absolute;
  top: 0;
}
.timeBox .showtime .item:last-child {
  margin: 0;
}
.timeBox .showtime .item_z .info {
  right: 50%;
  padding-right: 27px;
}
.timeBox .showtime .item_z .info .red-card,
.timeBox .showtime .item_z .info .yellow-card {
  float: left;
}
.timeBox .showtime .item_z .info .red-card {
  margin-right: 5px;
}
.timeBox .showtime .item_z .info .head {
  float: left;
}
.timeBox .showtime .item_z .info span {
  padding-left: 15px;
}
.timeBox .showtime .item_z .info span.up {
  background: url(../img/icon/up.png) no-repeat left center;
  background-size: 10px;
}
.timeBox .showtime .item_z .info span.down {
  background: url(../img/icon/down.png) no-repeat left center;
  background-size: 10px;
}
.timeBox .showtime .item_z .time {
  left: 50%;
  padding-left: 27px;
}
.timeBox .showtime .item_k .info {
  left: 50%;
  padding-left: 27px;
}
.timeBox .showtime .item_k .info .red-card,
.timeBox .showtime .item_k .info .yellow-card {
  float: right;
}
.timeBox .showtime .item_k .info .red-card {
  margin-left: 5px;
}
.timeBox .showtime .item_k .info .head {
  float: right;
}
.timeBox .showtime .item_k .info span {
  padding-right: 15px;
}
.timeBox .showtime .item_k .info span.up {
  background: url(../img/icon/up.png) no-repeat right center;
  background-size: 10px;
}
.timeBox .showtime .item_k .info span.down {
  background: url(../img/icon/down.png) no-repeat right center;
  background-size: 10px;
}
.timeBox .showtime .item_k .time {
  right: 50%;
  padding-right: 27px;
}
.timeBox .showtime:after {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  content: '';
  background: #505153;
  z-index: -1;
  width: 1px;
}
/*# sourceMappingURL=singleTeam.css.map */
