.base-info{
    width: 100%;
    height: 125px;
    margin-top: 10px;
    background: rgba(46,45,47,0.8);
    position: relative;
    overflow: hidden;
    .team{
        position: absolute;
        top: 10px;
        bottom: 10px;
        width: 74px;
        text-align: center;
        z-index: 2;
        img{
            width: 74px;
            height: 74px;
            max-width: 74px;
            border: 1px solid #80758c;
            border-radius: 50%;
        }
        h4{
            text-align: center;
            font-size: 13px;
            font-weight: normal;
       }
    }
    .left{
        left: 15px;
    }
    .right{
        right: 15px;
        .match-type{
            line-height: 105px;
        }
    }
    .center{
        text-align: center;
        display: table;
        width: 100%;
        height: 135px;
        .main{
            display: table-cell;
            vertical-align: middle;
        }
        p{
            margin: 0;
            font-size: 12px;
            color: #FFFFFF;
        }
        p.score{
            font-size: 30px;
            line-height: initial;
        }
    }
}
 .tab{
//  background: rgba(35,34,36,0.8);
    background: #2E2E2F;
    overflow: hidden;
    a{
        width: 20%;
        padding: 15px 0;
        display: block;
        font-size: 14px;
        color: rgba(255,255,255,0.6);
        float: left;
        text-align: center;
    }
    a.active{
        color: rgba(255,255,255,1);
        border-bottom: 1px solid #FFFFFF;
    }
 }

.page{
    display: none;
    .item:nth-child(odd){
        background: rgba(46,45,47,0.8);
    }
    .item:nth-child(even){
        background: rgba(35,34,36,0.8);
    }  
}
.page:first-child{
    display: block;
}

.team{
    .item{
        padding: 10px 20%;
        position: relative;
        overflow: hidden;
        #pie{
            height: 100px;
        }
        span{
            width: 70px;
            display: block;
            text-align: center;
            position: absolute;
            line-height: 100px;
            font-size: 30px;
            em{
                font-size: 15px;
            }
        }
        span.z{
            left: 20%;
        }
        span.k{
            right: 20%;
        }
        .title{
            text-align: center;
            font-size: 14px;
        }
        .main{
            overflow: hidden;
            div{
                width: 70px;
                p{
                    color: #FFFFFF;
                    font-size: 14px;
                    margin: 5px 0;
                    line-height: normal;
                    em{
                        display: block;
                        font-size: 30px;
                    }
                }
                p.attack{
                    text-align: center;
                }
            }
            .left{
                float: left;
                text-align: left;
            }
            .right{
                float: right;
                text-align: right;
            }
        }
    } 
    
}

.player{
    .item{
        background: transparent !important;
        margin-bottom: 10px;
        overflow: hidden;
        .title{
            padding: 10px;
            background: rgba(46,45,47,0.8);
            img{
               width: 25px; 
               vertical-align: middle;
               margin-right: 10px;
            }
        }
        .content{
            overflow: auto;
            table{
                width: 150%;
                td,th{
                    text-align: center;
                }
                th{
                    padding: 0 5px 5px;
                    font-weight: normal;
                    font-size: 13px;
                    border-bottom: 1px solid rgba(255,255,255,0.1);
                }
                th:nth-child(odd){
                    border-bottom: 1px solid rgba(255,255,255,1);
                }
                td{
                    padding: 15px 0;
                    img{
                        width: 8px;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
                td:first-child{
                    text-align: left;
                    padding-left: 10px;
                }
                tr:nth-child(odd){
                    background: rgba(46,45,47,0.8);
                }
                tr:nth-child(even){
                    background: rgba(35,34,36,0.8);
                }
            }
        }
        
    }
}


.imageText{
    .listBox{
        padding-bottom: 63px;
        .item{
            padding: 10px 15px 10px 70px;
            position: relative;
            -webkit-overflow-scrolling:touch;
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: absolute;
                left: 10px;
                top: 10px;
                vertical-align: bottom;
            }
            .con{
                display: inline-block;
                p{
                    font-size: 12px;
                    color: #999999;
                    margin: 0;
                    overflow: hidden;
                    span:nth-child(odd){
                        float: left;
                    }
                    span:nth-child(even){
                        float: right;
                    }
                }   
                .description{
                    font-size: 12px;
                }
                .imgBox{
                    margin-left: -5px;
                    margin-right: -5px;
                    overflow: hidden;
                    line-height: 0;
                    span{
                        width: 33.333%;
                        float: left;
                        display: block;
                        padding: 5px;
                        img{
                            width: 100%;
                            height: auto;
                            border-radius: 0;
                            position: inherit;
                        }
                    }
                }
            }
        }
    }
    .from-box{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        background: #2e2d2f;
        border-top: 1px solid #a0a0a0;
        .fileUpload{
            width: 20%;
            overflow: hidden;
            position: relative;
            text-align: center;
            input[type=file]{
                width: 100%;
                position: absolute;
                left: 0;
                top: 8px;
                opacity: 0;
            }
            img{
                width: 36px;
            }
        }
        input[type=text]{
            width: 60%;
            margin: 0;
            border-radius: 5px;
            color: #414141;
            font-size: 14px;
            border: none;
        }
        .fileUpload{
            width: 20%;
            overflow: hidden;
        }
        button{
            width: 20%;
            border: none;
            padding: 0;
            background: transparent;
            outline: none;
            img{
                width: 36px;
            }
        }
        button:focus{
            background: none;
        }
    }

}


.formation{
    padding: 20px 0;
    background: rgba(46,45,47,0.8);
    position: relative;
    .bg{
        position: absolute;
        width: 80%;
        left: 10%;
        right: 10%;
        img{
            width: 100%;
        }
    }
    .content{
        width: 80%;
        margin: 0 auto;
        .red{
            width: 10px;
            height: 10px;
            display: block;
            background: red;
            position: relative;
        }
        .item{
            background: transparent;
            position: absolute;
            img{
                width: 50px;
            }
            span{
                width: 30px;
                height: 27px;
                line-height: 32px;
                text-align: center;
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                background: url(../img/icon/iconfont-cloth.png) no-repeat center;
                background-size: cover;
            }
        }
    }
}


.timeBox{
    padding: 10px 0;
    background: rgba(46,45,47,0.8);
    .title{
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .showtime{
        position: relative;
        z-index: 2;
        .item{
            margin-bottom: 20px;
            background: transparent;
            position: relative;
            .icon{
                text-align: center;
                line-height: 0;
                img{
                    width: 35px;
                    height: 35px;
                    margin: 0 auto;
                }
            }
            .info{
                line-height: 35px;
                position: absolute;
                top: 0;
                .red-card,.yellow-card{
                    img{
                        width: 7px;
                    }
                }
                .head{
                    img{
                        width: 30px;
                        height: 30px;
                        margin: 5px;
                    }
                }
                span{
                    display: block;
                    line-height: 18px;
                }
            }
            .time{
                line-height: 35px;
                position: absolute;
                top: 0;
            }
        }
        .item:last-child{
            margin: 0;
        }
        .item_z{
            .info{
                right: 50%;
                padding-right: 27px;
                .red-card,.yellow-card{
                    float: left;
                }
                .red-card{
                    margin-right: 5px;
                }
                .head{
                    float: left;
                }
                span{
                    padding-left: 15px;
                }
                span.up{
                    background: url(../img/icon/up.png) no-repeat left center;
                    background-size: 10px;
                }
                span.down{
                    background: url(../img/icon/down.png) no-repeat left center;
                    background-size: 10px;
                }
            }
            .time{
                left: 50%;
                padding-left: 27px;
            }
        }
        .item_k{
            .info{
                left: 50%;
                padding-left: 27px;
                .red-card,.yellow-card{
                    float: right;
                }
                .red-card{
                    margin-left: 5px;
                }
                .head{
                    float: right;
                }
                span{
                    padding-right: 15px;
                }
                span.up{
                    background: url(../img/icon/up.png) no-repeat right center;
                    background-size: 10px;
                }
                span.down{
                    background: url(../img/icon/down.png) no-repeat right center;
                    background-size: 10px;
                }
            }
            .time{
                right: 50%;
                padding-right: 27px;
            }
        }
    }
    .showtime:after{
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        content: '';
        background: #505153;
        z-index: -1;
        width: 1px;
    }
}
