.base-info {
  margin: 10px 0 0;
  padding: 15px;
  overflow: hidden;
  background: rgba(46, 45, 47, 0.8);
}
.base-info .content {
  position: relative;
  overflow: hidden;
}
.base-info .content .imgBox {
  margin-right: 8%;
}
.base-info .content .imgBox img {
  width: 74px;
  height: 74px;
  max-width: 74px;
  border: 1px solid #80758c;
  border-radius: 50%;
}
.base-info .content .description {
  margin: 10px 0 0;
}
.base-info .content .description span {
  display: block;
}
.base-info .content .description span img {
  width: 14px;
  vertical-align: middle;
  margin-right: 5px;
}
.base-info .content a.mui-btn {
  background: transparent;
  border: 1px dotted #f19B22;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
}
.base-info .content a.mui-btn span {
  font-size: large;
  vertical-align: middle;
}
.base-info .content a.mui-btn span:before {
  content: '\e468';
}
.base-info .content a.mui-btn i {
  display: none;
}
.base-info .content a.mui-btn.no-follow {
  background: #F19B22;
  border: 1px solid #f19B22;
}
.base-info .content a.mui-btn.no-follow span:before {
  content: '\e472';
}
.base-info .content a.mui-btn.no-follow em {
  display: none;
}
.base-info .content a.mui-btn.no-follow i {
  display: inline-block;
}
.base-info .name {
  font-size: 13px;
}
.base-info .name span {
  margin-left: 10px;
}
.base-info .name span img {
  width: 13px;
}
.commonDiv .time {
  display: inline-block;
  margin: 10px 0 5px 10px;
  border-radius: 5px;
  padding: 0 5px;
  background: #4c98c0;
}
.commonDiv #radar {
  width: 100%;
  height: 220px;
}
.commonDiv .team-member {
  background: rgba(46, 45, 47, 0.8);
  padding-top: 10px;
  overflow: hidden;
}
.commonDiv .team-member .item {
  width: 25%;
  height: 90px;
  margin: 10px 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  float: left;
  /*position: relative;*/
  text-align: center;
}
.commonDiv .team-member .item .headImg{
  width: 65px;
  height: 65px;
  margin: 0 auto;
  position: relative;
}
.commonDiv .team-member .item span.captain {
  position: absolute;
  left: 0;
  top: 0;
}
.commonDiv .team-member .item span.captain img {
  width: 22px;
  height: 22px;
}
.commonDiv .team-member .item .headImg img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.commonDiv .team-member .item .headImg span.number {
  width: 30px;
  height: 27px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0px;
  display: block;
  background: url(../img/icon/iconfont-cloth.png) no-repeat center;
  background-size: cover;
}
.commonDiv .team-member .item p{
  margin:0;
}
.commonDiv ul {
  background: transparent;
  -webkit-overflow-scrolling: touch;
}
.commonDiv ul li {
  height: 135px;
  overflow: hidden;
  position: relative;
}
.commonDiv ul li .team {
  position: absolute;
  top: 15px;
}
.commonDiv ul li .team .imgbox {
  position: relative;
}
.commonDiv ul li .team .imgbox img {
  width: 74px;
  height: 74px;
  max-width: 74px;
  border: 1px solid #80758c;
  border-radius: 50%;
}
.commonDiv ul li .team .imgbox span {
  position: absolute;
  bottom: 0;
  right: 0;
}
.commonDiv ul li .team .imgbox span img {
  width: 20px;
  height: 20px;
}
.commonDiv ul li .team h4 {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}
.commonDiv ul li .content {
  margin: 20px 0;
  text-align: center;
  overflow: hidden;
}
.commonDiv ul li .content .score {
  font-size: 36px;
  margin: 15px 0;
}
.commonDiv ul li .content .name,
.commonDiv ul li .content .address {
  font-size: 12px;
}
.commonDiv ul li .team.left {
  left: 15px;
}
.commonDiv ul li .team.right {
  right: 15px;
}
.commonDiv ul li:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.commonDiv ul li:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
.commonDiv .listBox p {
  overflow: hidden;
  margin: 0;
  margin-bottom: 1px;
  padding: 0 0 0 20px;
  font-size: 14px;
  color: #848383;
}
.commonDiv .listBox p span {
  padding: 10px 0;
  display: block;
  float: left;
  width: 50%;
}
.commonDiv .listBox p span em {
  width: 50%;
  display: inline-block;
  float: right;
  text-align: center;
  color: #ffa914;
}
.commonDiv .listBox p:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
.commonDiv .listBox p:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
/*# sourceMappingURL=team-detail.css.map */
