.base-info{
    margin: 10px 0 0;
    padding: 15px;
    overflow: hidden;
    background: rgba(46,45,47,0.8);
    .content{
        position: relative;
        overflow: hidden;
        .imgBox{
            margin-right: 8%;
            img{
                width: 74px;
                height: 74px;
                max-width: 74px;
                border: 1px solid #80758c;
                border-radius: 50%;
            }
        }
        .description{
            margin: 10px 0 0;
            span{
                display: block;
                img{
                    width: 14px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }
        a.mui-btn{
            background: transparent;
            border: 1px dotted #f19B22;
            color: #FFFFFF; 
            font-size: 12px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -16px;
            span{
                font-size: large;
                vertical-align: middle;
            }
            span:before{
                content: '\e468';
            }
            i{
                display: none;
            }
        }
        a.mui-btn.no-follow{
            background: #F19B22;
            border: 1px solid #f19B22;
            span:before{
                content: '\e472';
            }
            em{
                display: none;
            }
            i{
                display: inline-block;
            }
        }
    }
    .name{
        font-size: 13px;
        span{
            margin-left: 10px;
            img{
                width: 13px;
            }
        }
    }
}

.commonDiv{
     .time{
        display: inline-block;
         margin: 10px 0 5px 10px;
         border-radius: 5px;
         padding: 0 5px;
         background: #4c98c0;
     }
     #radar{
         width: 100%;
         height: 220px;
     }
     .team-member{
         padding-right: 15px;
         background: rgba(46,45,47,0.8);
         height: 131px;
         overflow: hidden;
         overflow-x: auto;
         position: relative;
         .item{
             width: 78px;
             height: 78px; 
             margin-top: 25px;
             overflow: hidden;
             -webkit-overflow-scrolling: touch;
             position: absolute;
             top: 0;
             span.captain{
                 position: absolute;
                 left: 0;
                 top: 0;
                 img{
                     width: 22px;
                 }
             }
            .headImg{
                img{
                    width: 78px;
                    height: 78px;  
                    border-radius: 50%;
                }
            }
            span.number{
                width: 30px;
                height: 27px;
                line-height: 32px;
                text-align: center;
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                background: url(../img/icon/iconfont-cloth.png) no-repeat center;
                background-size: cover;
            }
         }
     }
     ul{
         background: transparent;
         -webkit-overflow-scrolling: touch;
         li{
             height: 135px;
            overflow: hidden;
            position: relative;
            .team{
                position: absolute;
                top: 15px;
                .imgbox{
                    position: relative;
                    img{
                        width: 74px;
                        height: 74px;
                        max-width: 74px;
                        border: 1px solid #80758c;
                        border-radius: 50%;
                    }
                    span{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                h4{
                    text-align: center;
                    font-size: 13px;
                    font-weight: normal;
                }
                
            }
            .content{
                margin: 20px 0;
                text-align: center;
                overflow: hidden;
                .score{
                    font-size: 36px;
                    margin: 15px 0;
                }
                .name,.address{
                    font-size: 12px;
                }
            }
            .team.left{
                left: 15px;
            }
            .team.right{
                right: 15px;
            }
        }
        li:nth-child(odd){
            background: rgba(46,45,47,0.8);
        }
        li:nth-child(even){
            background: rgba(35,34,36,0.8);
        }
     }
     .listBox{
         p{
            overflow: hidden;
            margin: 0;
             margin-bottom: 1px;
            padding: 0 0 0 20px;
            font-size: 14px;
            color: #848383;
            span{
                padding: 10px 0;
                display: block;
                float: left;
                width: 50%;
                em{
                    width: 50%;
                    display: inline-block;
                    float: right;
                    text-align: center;
                    color: #ffa914;
                }
            }
        }
        p:nth-child(odd){
            background: rgba(46,45,47,0.8);
        }
        p:nth-child(even){
            background: rgba(35,34,36,0.8);
        }
     }
 }