ul {
  background: transparent;
  margin-top: 10px;
  -webkit-overflow-scrolling: touch;
}
ul li {
  padding: 15px;
  overflow: hidden;
}
ul li .mui-media-object {
  width: 58px;
  height: 58px;
  max-width: 58px;
  margin-right: 10px;
  border-radius: 50%;
}
ul li .mui-media-body h4 {
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
ul li .mui-media-body h4 span.mui-pull-left {
  line-height: 22px;
}
ul li .mui-media-body h4 span.mui-pull-right {
  font-size: 12px;
  background: #4c98c0;
  padding: 5px;
  border-radius: 5px;
}
ul li .mui-media-body .star img {
  width: 10px;
}
ul li .mui-media-body .record span img {
  width: 9px;
  vertical-align: middle;
  margin-right: 5px;
}
ul li:nth-child(odd) {
  background: rgba(46, 45, 47, 0.8);
}
ul li:nth-child(even) {
  background: rgba(35, 34, 36, 0.8);
}
/*# sourceMappingURL=team-list.css.map */
